@import "./common.scss";
@import "./variable.scss";

.btn-color {
    .btn-primary {
        color: $color_primary;
        background: $color_primary-bg;
        transition: background 0.2s;
    }

    .btn-primary:hover {
        background: $color_primary-bg-sh;
    }
}