// Font
$font:"Montserrat";
// Colors
$color_primary: #ffffff;
$color_primary-bg: #5e2572;
$color_secondary: #212529;
$color_secondary-bg: #d9dbdc;
$color_succes: #ffffff;
$color_succes-bg: #00c689;
$color_danger: #ffffff;
$color_danger-bg: #fc7242;
$color_warning: #212529;
$color_warning-bg: #ffc100;
$color_info: #ffffff;
$color_info-bg: #4d13d1;
$color_light: #212529;
$color_light-bg: #f8f9fa;
$color_dark: #ffffff;
$color_dark-bg: #4f4a60;
$color_link: #007bff;
