/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==========================================================
                        Layout Start
==========================================================*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*==========================================================
                        Layout End
==========================================================*/
/*==========================================================
                12 Column Grid System Start
==========================================================*/
.col-1 {
  position: relative;
  width: calc((100%/12)*1) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-2 {
  position: relative;
  width: calc((100%/12)*2) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-3 {
  position: relative;
  width: calc((100%/12)*3) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-4 {
  position: relative;
  width: calc((100%/12)*4) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-5 {
  position: relative;
  width: calc((100%/12)*5) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-6 {
  position: relative;
  width: calc((100%/12)*6) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-7 {
  position: relative;
  width: calc((100%/12)*7) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-8 {
  position: relative;
  width: calc((100%/12)*8) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-9 {
  position: relative;
  width: calc((100%/12)*9) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-10 {
  position: relative;
  width: calc((100%/12)*10) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-11 {
  position: relative;
  width: calc((100%/12)*11) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-12 {
  position: relative;
  width: calc((100%/12)*12) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

@media (max-width: 596px) {
  .container {
    width: 100%;
  }
  .col-xs-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
}

@media (min-width: 596px) and (max-width: 968px) {
  .container {
    width: 100%;
  }
  .col-sm-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
}

@media (min-width: 968px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .col-md-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .col-lg-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
}

/*==========================================================
                12 Column Grid System End
==========================================================*/
/*==========================================================
                    Padding Start
==========================================================*/
.p-1 {
  padding: calc(5px * 1) !important;
}

.p-2 {
  padding: calc(5px * 2) !important;
}

.p-3 {
  padding: calc(5px * 3) !important;
}

.p-4 {
  padding: calc(5px * 4) !important;
}

.p-5 {
  padding: calc(5px * 5) !important;
}

.p-6 {
  padding: calc(5px * 6) !important;
}

.p-7 {
  padding: calc(5px * 7) !important;
}

.p-8 {
  padding: calc(5px * 8) !important;
}

.p-9 {
  padding: calc(5px * 9) !important;
}

.px-1 {
  padding: 0px calc(5px * 1) !important;
}

.px-2 {
  padding: 0px calc(5px * 2) !important;
}

.px-3 {
  padding: 0px calc(5px * 3) !important;
}

.px-4 {
  padding: 0px calc(5px * 4) !important;
}

.px-5 {
  padding: 0px calc(5px * 5) !important;
}

.px-6 {
  padding: 0px calc(5px * 6) !important;
}

.px-7 {
  padding: 0px calc(5px * 7) !important;
}

.px-8 {
  padding: 0px calc(5px * 8) !important;
}

.px-9 {
  padding: 0px calc(5px * 9) !important;
}

.py-1 {
  padding: calc(5px * 1) 0px !important;
}

.py-2 {
  padding: calc(5px * 2) 0px !important;
}

.py-3 {
  padding: calc(5px * 3) 0px !important;
}

.py-4 {
  padding: calc(5px * 4) 0px !important;
}

.py-5 {
  padding: calc(5px * 5) 0px !important;
}

.py-6 {
  padding: calc(5px * 6) 0px !important;
}

.py-7 {
  padding: calc(5px * 7) 0px !important;
}

.py-8 {
  padding: calc(5px * 8) 0px !important;
}

.py-9 {
  padding: calc(5px * 9) 0px !important;
}

.pt-1 {
  padding-top: calc(5px * 1) !important;
}

.pt-2 {
  padding-top: calc(5px * 2) !important;
}

.pt-3 {
  padding-top: calc(5px * 3) !important;
}

.pt-4 {
  padding-top: calc(5px * 4) !important;
}

.pt-5 {
  padding-top: calc(5px * 5) !important;
}

.pt-6 {
  padding-top: calc(5px * 6) !important;
}

.pt-7 {
  padding-top: calc(5px * 7) !important;
}

.pt-8 {
  padding-top: calc(5px * 8) !important;
}

.pt-9 {
  padding-top: calc(5px * 9) !important;
}

.pr-1 {
  padding-right: calc(5px * 1) !important;
}

.pr-2 {
  padding-right: calc(5px * 2) !important;
}

.pr-3 {
  padding-right: calc(5px * 3) !important;
}

.pr-4 {
  padding-right: calc(5px * 4) !important;
}

.pr-5 {
  padding-right: calc(5px * 5) !important;
}

.pr-6 {
  padding-right: calc(5px * 6) !important;
}

.pr-7 {
  padding-right: calc(5px * 7) !important;
}

.pr-8 {
  padding-right: calc(5px * 8) !important;
}

.pr-9 {
  padding-right: calc(5px * 9) !important;
}

.pb-1 {
  padding-bottom: calc(5px * 1) !important;
}

.pb-2 {
  padding-bottom: calc(5px * 2) !important;
}

.pb-3 {
  padding-bottom: calc(5px * 3) !important;
}

.pb-4 {
  padding-bottom: calc(5px * 4) !important;
}

.pb-5 {
  padding-bottom: calc(5px * 5) !important;
}

.pb-6 {
  padding-bottom: calc(5px * 6) !important;
}

.pb-7 {
  padding-bottom: calc(5px * 7) !important;
}

.pb-8 {
  padding-bottom: calc(5px * 8) !important;
}

.pb-9 {
  padding-bottom: calc(5px * 9) !important;
}

.pl-1 {
  padding-left: calc(5px * 1) !important;
}

.pl-2 {
  padding-left: calc(5px * 2) !important;
}

.pl-3 {
  padding-left: calc(5px * 3) !important;
}

.pl-4 {
  padding-left: calc(5px * 4) !important;
}

.pl-5 {
  padding-left: calc(5px * 5) !important;
}

.pl-6 {
  padding-left: calc(5px * 6) !important;
}

.pl-7 {
  padding-left: calc(5px * 7) !important;
}

.pl-8 {
  padding-left: calc(5px * 8) !important;
}

.pl-9 {
  padding-left: calc(5px * 9) !important;
}

/*==========================================================
                    Padding End
==========================================================*/
/*==========================================================
                    Margin Start
==========================================================*/
.m-1 {
  margin: calc(5px * 1) !important;
}

.m-2 {
  margin: calc(5px * 2) !important;
}

.m-3 {
  margin: calc(5px * 3) !important;
}

.m-4 {
  margin: calc(5px * 4) !important;
}

.m-5 {
  margin: calc(5px * 5) !important;
}

.m-6 {
  margin: calc(5px * 6) !important;
}

.m-7 {
  margin: calc(5px * 7) !important;
}

.m-8 {
  margin: calc(5px * 8) !important;
}

.m-9 {
  margin: calc(5px * 9) !important;
}

.mx-1 {
  margin: 0px calc(5px * 1) !important;
}

.mx-2 {
  margin: 0px calc(5px * 2) !important;
}

.mx-3 {
  margin: 0px calc(5px * 3) !important;
}

.mx-4 {
  margin: 0px calc(5px * 4) !important;
}

.mx-5 {
  margin: 0px calc(5px * 5) !important;
}

.mx-6 {
  margin: 0px calc(5px * 6) !important;
}

.mx-7 {
  margin: 0px calc(5px * 7) !important;
}

.mx-8 {
  margin: 0px calc(5px * 8) !important;
}

.mx-9 {
  margin: 0px calc(5px * 9) !important;
}

.my-1 {
  margin: calc(5px * 1) 0px !important;
}

.my-2 {
  margin: calc(5px * 2) 0px !important;
}

.my-3 {
  margin: calc(5px * 3) 0px !important;
}

.my-4 {
  margin: calc(5px * 4) 0px !important;
}

.my-5 {
  margin: calc(5px * 5) 0px !important;
}

.my-6 {
  margin: calc(5px * 6) 0px !important;
}

.my-7 {
  margin: calc(5px * 7) 0px !important;
}

.my-8 {
  margin: calc(5px * 8) 0px !important;
}

.my-9 {
  margin: calc(5px * 9) 0px !important;
}

.mt-1 {
  margin-top: calc(5px * 1) !important;
}

.mt-2 {
  margin-top: calc(5px * 2) !important;
}

.mt-3 {
  margin-top: calc(5px * 3) !important;
}

.mt-4 {
  margin-top: calc(5px * 4) !important;
}

.mt-5 {
  margin-top: calc(5px * 5) !important;
}

.mt-6 {
  margin-top: calc(5px * 6) !important;
}

.mt-7 {
  margin-top: calc(5px * 7) !important;
}

.mt-8 {
  margin-top: calc(5px * 8) !important;
}

.mt-9 {
  margin-top: calc(5px * 9) !important;
}

.mr-1 {
  margin-right: calc(5px * 1) !important;
}

.mr-2 {
  margin-right: calc(5px * 2) !important;
}

.mr-3 {
  margin-right: calc(5px * 3) !important;
}

.mr-4 {
  margin-right: calc(5px * 4) !important;
}

.mr-5 {
  margin-right: calc(5px * 5) !important;
}

.mr-6 {
  margin-right: calc(5px * 6) !important;
}

.mr-7 {
  margin-right: calc(5px * 7) !important;
}

.mr-8 {
  margin-right: calc(5px * 8) !important;
}

.mr-9 {
  margin-right: calc(5px * 9) !important;
}

.mb-1 {
  margin-bottom: calc(5px * 1) !important;
}

.mb-2 {
  margin-bottom: calc(5px * 2) !important;
}

.mb-3 {
  margin-bottom: calc(5px * 3) !important;
}

.mb-4 {
  margin-bottom: calc(5px * 4) !important;
}

.mb-5 {
  margin-bottom: calc(5px * 5) !important;
}

.mb-6 {
  margin-bottom: calc(5px * 6) !important;
}

.mb-7 {
  margin-bottom: calc(5px * 7) !important;
}

.mb-8 {
  margin-bottom: calc(5px * 8) !important;
}

.mb-9 {
  margin-bottom: calc(5px * 9) !important;
}

.ml-1 {
  margin-left: calc(5px * 1) !important;
}

.ml-2 {
  margin-left: calc(5px * 2) !important;
}

.ml-3 {
  margin-left: calc(5px * 3) !important;
}

.ml-4 {
  margin-left: calc(5px * 4) !important;
}

.ml-5 {
  margin-left: calc(5px * 5) !important;
}

.ml-6 {
  margin-left: calc(5px * 6) !important;
}

.ml-7 {
  margin-left: calc(5px * 7) !important;
}

.ml-8 {
  margin-left: calc(5px * 8) !important;
}

.ml-9 {
  margin-left: calc(5px * 9) !important;
}

/*==========================================================
                    Margin End
==========================================================*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==========================================================
                        Layout Start
==========================================================*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*==========================================================
                        Layout End
==========================================================*/
/*==========================================================
                12 Column Grid System Start
==========================================================*/
.col-1 {
  position: relative;
  width: calc((100%/12)*1) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-2 {
  position: relative;
  width: calc((100%/12)*2) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-3 {
  position: relative;
  width: calc((100%/12)*3) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-4 {
  position: relative;
  width: calc((100%/12)*4) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-5 {
  position: relative;
  width: calc((100%/12)*5) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-6 {
  position: relative;
  width: calc((100%/12)*6) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-7 {
  position: relative;
  width: calc((100%/12)*7) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-8 {
  position: relative;
  width: calc((100%/12)*8) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-9 {
  position: relative;
  width: calc((100%/12)*9) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-10 {
  position: relative;
  width: calc((100%/12)*10) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-11 {
  position: relative;
  width: calc((100%/12)*11) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.col-12 {
  position: relative;
  width: calc((100%/12)*12) !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

@media (max-width: 596px) {
  .container {
    width: 100%;
  }
  .col-xs-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-xs-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
}

@media (min-width: 596px) and (max-width: 968px) {
  .container {
    width: 100%;
  }
  .col-sm-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-sm-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
}

@media (min-width: 968px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .col-md-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-md-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .col-lg-1 {
    position: relative;
    width: calc((100%/12)*1) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-2 {
    position: relative;
    width: calc((100%/12)*2) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-3 {
    position: relative;
    width: calc((100%/12)*3) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-4 {
    position: relative;
    width: calc((100%/12)*4) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-5 {
    position: relative;
    width: calc((100%/12)*5) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-6 {
    position: relative;
    width: calc((100%/12)*6) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-7 {
    position: relative;
    width: calc((100%/12)*7) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-8 {
    position: relative;
    width: calc((100%/12)*8) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-9 {
    position: relative;
    width: calc((100%/12)*9) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-10 {
    position: relative;
    width: calc((100%/12)*10) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-11 {
    position: relative;
    width: calc((100%/12)*11) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
  .col-lg-12 {
    position: relative;
    width: calc((100%/12)*12) !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }
}

/*==========================================================
                12 Column Grid System End
==========================================================*/
/*==========================================================
                    Padding Start
==========================================================*/
.p-1 {
  padding: calc(5px * 1) !important;
}

.p-2 {
  padding: calc(5px * 2) !important;
}

.p-3 {
  padding: calc(5px * 3) !important;
}

.p-4 {
  padding: calc(5px * 4) !important;
}

.p-5 {
  padding: calc(5px * 5) !important;
}

.p-6 {
  padding: calc(5px * 6) !important;
}

.p-7 {
  padding: calc(5px * 7) !important;
}

.p-8 {
  padding: calc(5px * 8) !important;
}

.p-9 {
  padding: calc(5px * 9) !important;
}

.px-1 {
  padding: 0px calc(5px * 1) !important;
}

.px-2 {
  padding: 0px calc(5px * 2) !important;
}

.px-3 {
  padding: 0px calc(5px * 3) !important;
}

.px-4 {
  padding: 0px calc(5px * 4) !important;
}

.px-5 {
  padding: 0px calc(5px * 5) !important;
}

.px-6 {
  padding: 0px calc(5px * 6) !important;
}

.px-7 {
  padding: 0px calc(5px * 7) !important;
}

.px-8 {
  padding: 0px calc(5px * 8) !important;
}

.px-9 {
  padding: 0px calc(5px * 9) !important;
}

.py-1 {
  padding: calc(5px * 1) 0px !important;
}

.py-2 {
  padding: calc(5px * 2) 0px !important;
}

.py-3 {
  padding: calc(5px * 3) 0px !important;
}

.py-4 {
  padding: calc(5px * 4) 0px !important;
}

.py-5 {
  padding: calc(5px * 5) 0px !important;
}

.py-6 {
  padding: calc(5px * 6) 0px !important;
}

.py-7 {
  padding: calc(5px * 7) 0px !important;
}

.py-8 {
  padding: calc(5px * 8) 0px !important;
}

.py-9 {
  padding: calc(5px * 9) 0px !important;
}

.pt-1 {
  padding-top: calc(5px * 1) !important;
}

.pt-2 {
  padding-top: calc(5px * 2) !important;
}

.pt-3 {
  padding-top: calc(5px * 3) !important;
}

.pt-4 {
  padding-top: calc(5px * 4) !important;
}

.pt-5 {
  padding-top: calc(5px * 5) !important;
}

.pt-6 {
  padding-top: calc(5px * 6) !important;
}

.pt-7 {
  padding-top: calc(5px * 7) !important;
}

.pt-8 {
  padding-top: calc(5px * 8) !important;
}

.pt-9 {
  padding-top: calc(5px * 9) !important;
}

.pr-1 {
  padding-right: calc(5px * 1) !important;
}

.pr-2 {
  padding-right: calc(5px * 2) !important;
}

.pr-3 {
  padding-right: calc(5px * 3) !important;
}

.pr-4 {
  padding-right: calc(5px * 4) !important;
}

.pr-5 {
  padding-right: calc(5px * 5) !important;
}

.pr-6 {
  padding-right: calc(5px * 6) !important;
}

.pr-7 {
  padding-right: calc(5px * 7) !important;
}

.pr-8 {
  padding-right: calc(5px * 8) !important;
}

.pr-9 {
  padding-right: calc(5px * 9) !important;
}

.pb-1 {
  padding-bottom: calc(5px * 1) !important;
}

.pb-2 {
  padding-bottom: calc(5px * 2) !important;
}

.pb-3 {
  padding-bottom: calc(5px * 3) !important;
}

.pb-4 {
  padding-bottom: calc(5px * 4) !important;
}

.pb-5 {
  padding-bottom: calc(5px * 5) !important;
}

.pb-6 {
  padding-bottom: calc(5px * 6) !important;
}

.pb-7 {
  padding-bottom: calc(5px * 7) !important;
}

.pb-8 {
  padding-bottom: calc(5px * 8) !important;
}

.pb-9 {
  padding-bottom: calc(5px * 9) !important;
}

.pl-1 {
  padding-left: calc(5px * 1) !important;
}

.pl-2 {
  padding-left: calc(5px * 2) !important;
}

.pl-3 {
  padding-left: calc(5px * 3) !important;
}

.pl-4 {
  padding-left: calc(5px * 4) !important;
}

.pl-5 {
  padding-left: calc(5px * 5) !important;
}

.pl-6 {
  padding-left: calc(5px * 6) !important;
}

.pl-7 {
  padding-left: calc(5px * 7) !important;
}

.pl-8 {
  padding-left: calc(5px * 8) !important;
}

.pl-9 {
  padding-left: calc(5px * 9) !important;
}

/*==========================================================
                    Padding End
==========================================================*/
/*==========================================================
                    Margin Start
==========================================================*/
.m-1 {
  margin: calc(5px * 1) !important;
}

.m-2 {
  margin: calc(5px * 2) !important;
}

.m-3 {
  margin: calc(5px * 3) !important;
}

.m-4 {
  margin: calc(5px * 4) !important;
}

.m-5 {
  margin: calc(5px * 5) !important;
}

.m-6 {
  margin: calc(5px * 6) !important;
}

.m-7 {
  margin: calc(5px * 7) !important;
}

.m-8 {
  margin: calc(5px * 8) !important;
}

.m-9 {
  margin: calc(5px * 9) !important;
}

.mx-1 {
  margin: 0px calc(5px * 1) !important;
}

.mx-2 {
  margin: 0px calc(5px * 2) !important;
}

.mx-3 {
  margin: 0px calc(5px * 3) !important;
}

.mx-4 {
  margin: 0px calc(5px * 4) !important;
}

.mx-5 {
  margin: 0px calc(5px * 5) !important;
}

.mx-6 {
  margin: 0px calc(5px * 6) !important;
}

.mx-7 {
  margin: 0px calc(5px * 7) !important;
}

.mx-8 {
  margin: 0px calc(5px * 8) !important;
}

.mx-9 {
  margin: 0px calc(5px * 9) !important;
}

.my-1 {
  margin: calc(5px * 1) 0px !important;
}

.my-2 {
  margin: calc(5px * 2) 0px !important;
}

.my-3 {
  margin: calc(5px * 3) 0px !important;
}

.my-4 {
  margin: calc(5px * 4) 0px !important;
}

.my-5 {
  margin: calc(5px * 5) 0px !important;
}

.my-6 {
  margin: calc(5px * 6) 0px !important;
}

.my-7 {
  margin: calc(5px * 7) 0px !important;
}

.my-8 {
  margin: calc(5px * 8) 0px !important;
}

.my-9 {
  margin: calc(5px * 9) 0px !important;
}

.mt-1 {
  margin-top: calc(5px * 1) !important;
}

.mt-2 {
  margin-top: calc(5px * 2) !important;
}

.mt-3 {
  margin-top: calc(5px * 3) !important;
}

.mt-4 {
  margin-top: calc(5px * 4) !important;
}

.mt-5 {
  margin-top: calc(5px * 5) !important;
}

.mt-6 {
  margin-top: calc(5px * 6) !important;
}

.mt-7 {
  margin-top: calc(5px * 7) !important;
}

.mt-8 {
  margin-top: calc(5px * 8) !important;
}

.mt-9 {
  margin-top: calc(5px * 9) !important;
}

.mr-1 {
  margin-right: calc(5px * 1) !important;
}

.mr-2 {
  margin-right: calc(5px * 2) !important;
}

.mr-3 {
  margin-right: calc(5px * 3) !important;
}

.mr-4 {
  margin-right: calc(5px * 4) !important;
}

.mr-5 {
  margin-right: calc(5px * 5) !important;
}

.mr-6 {
  margin-right: calc(5px * 6) !important;
}

.mr-7 {
  margin-right: calc(5px * 7) !important;
}

.mr-8 {
  margin-right: calc(5px * 8) !important;
}

.mr-9 {
  margin-right: calc(5px * 9) !important;
}

.mb-1 {
  margin-bottom: calc(5px * 1) !important;
}

.mb-2 {
  margin-bottom: calc(5px * 2) !important;
}

.mb-3 {
  margin-bottom: calc(5px * 3) !important;
}

.mb-4 {
  margin-bottom: calc(5px * 4) !important;
}

.mb-5 {
  margin-bottom: calc(5px * 5) !important;
}

.mb-6 {
  margin-bottom: calc(5px * 6) !important;
}

.mb-7 {
  margin-bottom: calc(5px * 7) !important;
}

.mb-8 {
  margin-bottom: calc(5px * 8) !important;
}

.mb-9 {
  margin-bottom: calc(5px * 9) !important;
}

.ml-1 {
  margin-left: calc(5px * 1) !important;
}

.ml-2 {
  margin-left: calc(5px * 2) !important;
}

.ml-3 {
  margin-left: calc(5px * 3) !important;
}

.ml-4 {
  margin-left: calc(5px * 4) !important;
}

.ml-5 {
  margin-left: calc(5px * 5) !important;
}

.ml-6 {
  margin-left: calc(5px * 6) !important;
}

.ml-7 {
  margin-left: calc(5px * 7) !important;
}

.ml-8 {
  margin-left: calc(5px * 8) !important;
}

.ml-9 {
  margin-left: calc(5px * 9) !important;
}

/*==========================================================
                    Margin End
==========================================================*/
/*==========================================================
                Feedback Board Start
==========================================================*/
body {
  background: #F7F8FD;
  padding: 94px 165px !important;
}

body .feedback_header div {
  margin: 0 0 24px 0;
}

body .feedback_header_board {
  position: relative;
  background: radial-gradient(128.88% 128.88% at 103.9% 20.61%, #E84D70 0%, #A337F6 53.09%, #28A7ED 102%);
  border-radius: 10px;
  padding: 62px 77px 24px 24px;
  overflow: hidden;
}

body .feedback_header_board h2 {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 29px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}

body .feedback_header_board span {
  font-family: "Jost", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}

body .feedback_header_board::after {
  position: absolute;
  content: '';
  z-index: 1;
  width: 192px;
  height: 192px;
  left: -97.5px;
  top: -130.5px;
  background: #7AD8FB;
  mix-blend-mode: normal;
  opacity: 0.77;
  -webkit-filter: blur(89.7033px);
          filter: blur(89.7033px);
}

body .feedback_header_board::before {
  position: absolute;
  content: '';
  z-index: 1;
  width: 192px;
  height: 192px;
  left: 165.5px;
  top: 79.5px;
  background: #FBB57A;
  -webkit-filter: blur(31.7033px);
          filter: blur(31.7033px);
}

/*==========================================================
                Feedback Board End
==========================================================*/
/*==========================================================
                Feedback Categories Start
==========================================================*/
body .feedback_header_categories {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px;
}

body .feedback_header_categories div:nth-child(1) {
  background: #4661E6;
}

body .feedback_header_categories div:nth-child(1) a {
  color: #F2F4FF;
}

body .feedback_header_categories div {
  display: inline-block;
  background: #F2F4FF;
  padding: 5px 15px;
  margin: 14px 14px 0 0;
  border-radius: 10px;
}

body .feedback_header_categories div a {
  font-family: "Jost", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  line-height: 19px;
  color: #4661E6;
  text-decoration: none;
}

/*==========================================================
                Feedback Categories End
==========================================================*/
/*==========================================================
                Feedback Roadmap Start
==========================================================*/
body .feedback_header_roadmap {
  background: #FFFFFF;
  padding: 24px;
}

body .feedback_header_roadmap-title h3 {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #3A4374;
}

body .feedback_header_roadmap-title a {
  font-family: "Jost", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  line-height: 19px;
  color: #4661E6;
}

body .feedback_header_roadmap_cardcover-card span:nth-child(1) {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 23px;
  color: #647196;
  position: relative;
  padding: 0 0 0 20px;
}

body .feedback_header_roadmap_cardcover-card span:nth-child(1)::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  left: 0px;
  top: 7px;
  border-radius: 50%;
}

body .feedback_header_roadmap_cardcover-card span:nth-child(2) {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 23px;
  color: #647196;
}

body .feedback_header_roadmap_cardcover-card:nth-child(1) span:nth-child(1)::before {
  background-color: #F49F85;
}

body .feedback_header_roadmap_cardcover-card:nth-child(2) span:nth-child(1)::before {
  background-color: #AD1FEA;
}

body .feedback_header_roadmap_cardcover-card:nth-child(3) span:nth-child(1)::before {
  background-color: #7AD8FB;
}

body .feedback_header_roadmap_cardcover-card:nth-child(4) span:nth-child(1)::before {
  background-color: #4661E6;
}

/*==========================================================
                Feedback Roadmap End
==========================================================*/
/*==========================================================
                Feedback Feautures Start
==========================================================*/
body .feedback_main_feautures {
  background: #373F68;
  border-radius: 10px;
  padding: 9px 15px;
}

body .feedback_main_feautures-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .feedback_main_feautures-primary .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .feedback_main_feautures-primary i {
  font-size: 14px;
  color: #FFFFFF;
}

body .feedback_main_feautures-primary h3 {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
}

body .feedback_main_feautures-primary-cta span:nth-child(1) {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
}

body .feedback_main_feautures-primary-cta span:nth-child(2) {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
}

body .feedback_main_feautures-secondary a {
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  text-decoration: none;
  background: #AD1FEA;
  padding: 12px 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/*==========================================================
                Feedback Feautures Start
==========================================================*/
/*==========================================================
                Feedback Card Start
==========================================================*/
/*==========================================================
                Feedback Card End
==========================================================*/
