@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: var(--Ebony_Clay);
  color: var(--White);
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: var(--Black);
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

:root {
  --White: #ffffff;
  --Black: #000;
  --Ebony_Clay: #252b42;
  --Persian_Rose: #23a6f0;
  --Manhattan: #8EC2F2;
  --Sonic_Silver: #737373;
}

.header .navbar {
  background: var(--White);
  padding: 1em;
}

.header .navbar .navbar-logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--White);
  font-size: 1.2em;
}

.header .navbar .navbar-logo a {
  color: var(--White);
}

.header .navbar nav {
  display: none;
}

.header .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.header .navbar .mobile-menu {
  cursor: pointer;
}

.header .section-home {
  text-align: center;
}

.header .section-home .home-left h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.563rem;
  letter-spacing: 0.013rem;
  margin: 2.188rem 0rem;
}

.header .section-home .home-left h4 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0.013rem;
  margin: 2.188rem 0rem;
}

.header .section-home .home-left .primary-cta {
  background: var(--Persian_Rose);
  color: var(--White);
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.header .section-home .home-left .learn-more-cta {
  color: var(--White);
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.013rem;
  margin: 0.625rem 1rem;
  border: 2px solid var(--White);
}

.header .section-home .home-right {
  margin-top: 2rem;
  position: relative;
}

main .section-strategy .strategy-top {
  text-align: center;
}

main .section-strategy .strategy-top h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.563rem;
  text-align: center;
  letter-spacing: 0.013rem;
  margin: 0.625rem 0rem;
}

main .section-strategy .strategy-top p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.013rem;
  margin: 0.625rem 0rem;
}

main .section-strategy .strategy-bottom {
  margin-top: 5rem;
}

main .section-strategy .strategy-bottom ul.bottom-items {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

main .section-strategy .strategy-bottom ul.bottom-items li.items-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

main .section-strategy .strategy-bottom ul.bottom-items li.items-card img {
  width: 3.5rem;
  height: 3.5rem;
}

main .section-strategy .strategy-bottom ul.bottom-items li.items-card .card-text {
  padding-left: 1.3rem;
}

main .section-strategy .strategy-bottom ul.bottom-items li.items-card .card-text h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.013rem;
  margin: 0.313rem 0rem;
}

main .section-strategy .strategy-bottom ul.bottom-items li.items-card .card-text p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.013rem;
  margin: 0.313rem 0rem;
}

main .section-testimonials .testimonials-top {
  text-align: center;
}

main .section-testimonials .testimonials-top h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.563rem;
  text-align: center;
  letter-spacing: 0.013rem;
  margin: 0.625rem 0rem;
}

main .section-testimonials .testimonials-top p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.013rem;
  margin: 0.625rem 0rem;
}

main .section-testimonials .testimonials-bottom {
  margin-top: 3.75rem;
}

main .section-testimonials .testimonials-bottom .bottom-card {
  background: #FFFFFF;
  border: 0.063rem solid #DEDEDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.313rem;
  margin: 1.875rem 0rem;
  text-align: center;
  padding: 2.5rem 3.031rem;
}

main .section-testimonials .testimonials-bottom .bottom-card img {
  border-radius: 50%;
}

main .section-testimonials .testimonials-bottom .bottom-card p {
  color: var(--Sonic_Silver);
}

main .section-testimonials .testimonials-bottom .bottom-card h3 {
  color: var(--Ebony_Clay);
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.006rem;
  margin: 0.3rem 0rem 0.1rem;
}

main .section-testimonials .testimonials-bottom .bottom-card h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.013rem;
  margin: 0rem;
  color: var(--Sonic_Silver);
}

main .section-product .product-top {
  text-align: center;
}

main .section-product .product-top h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.563rem;
  text-align: center;
  letter-spacing: 0.013rem;
  margin: 0.625rem 0rem;
}

main .section-product .product-top p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.013rem;
  margin: 0.625rem 0rem;
}

main .section-product .product-bottom {
  margin-top: 3.75rem;
}

main .section-product .product-bottom ul.bottom-items {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-row-gap: 1.313rem;
  grid-column-gap: 1.313rem;
}

main .section-product .product-bottom ul.bottom-items li.items-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.625rem 1.063rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9.53881px;
  border: 1.90776rem solid #FFFFFF;
  color: var(--Ebony_Clay);
  background: var(--White);
}

main .section-product .product-bottom ul.bottom-items li.items-card img {
  width: 3.5rem;
  height: 3.5rem;
}

main .section-product .product-bottom ul.bottom-items li.items-card .card-text {
  padding-left: 5rem;
}

main .section-product .product-bottom ul.bottom-items li.items-card .card-text h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.013rem;
  margin: 0.313rem 0rem;
}

main .section-product .product-bottom ul.bottom-items li.items-card .card-text p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.013rem;
  margin: 0.313rem 0rem;
}

main .section-pricing .pricing-top {
  text-align: center;
}

main .section-pricing .pricing-top h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.563rem;
  text-align: center;
  letter-spacing: 0.013rem;
  margin: 0.625rem 0rem;
}

main .section-pricing .pricing-top p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.013rem;
  margin: 0.625rem 0rem;
}

main .section-pricing .pricing-bottom {
  margin-top: 3.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-row-gap: 1.313rem;
  grid-column-gap: 1.313rem;
}

main .section-pricing .pricing-bottom .bottom-cards {
  padding: 3.125rem;
  background: #FFFFFF;
  border: 1px solid var(--Persian_Rose);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.625rem;
}

main .section-pricing .pricing-bottom .bottom-cards .card-primary h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.006rem;
  color: var(--Persian_Rose);
}

main .section-pricing .pricing-bottom .bottom-cards .card-primary p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.013rem;
  color: var(--Sonic_Silver);
}

main .section-pricing .pricing-bottom .bottom-cards .card-second .second-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 1.875rem;
}

main .section-pricing .pricing-bottom .bottom-cards .card-second .second-cost .cost-num {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.563rem;
  letter-spacing: 0.013rem;
  padding-right: 1rem;
  color: var(--Persian_Rose);
}

main .section-pricing .pricing-bottom .bottom-cards .card-second .second-cost .cost-info .info-logo {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.006rem;
  color: var(--Persian_Rose);
  margin: 0rem;
}

main .section-pricing .pricing-bottom .bottom-cards .card-second .second-cost .cost-info .info-time {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--Manhattan);
  margin: 0rem;
}

main .section-pricing .pricing-bottom .bottom-cards .card-second .second-card-cta {
  background: var(--Persian_Rose);
  color: var(--White);
  text-decoration: none;
  padding: .6rem 1.3rem;
  font-size: 1.4rem;
  border-radius: 0.313rem;
  font-weight: bold;
  display: inline-block;
}

main .section-world {
  padding: 5em 2em 3em;
}

main .section-world .world-primary h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.563rem;
  letter-spacing: 0.013rem;
  color: var(--White);
}

main .section-world .world-primary p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.013rem;
  color: var(--White);
}

main .section-world .world-secondary {
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-appointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15.625rem;
  background: var(--White);
  margin-top: 8.813rem;
  margin-bottom: 5rem;
}

main .appointment-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .appointment-items .appointment-top h1 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.563rem;
  letter-spacing: 0.013rem;
  color: var(--Ebony_Clay);
}

main .appointment-items .appointment-top p {
  width: 439px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--Ebony_Clay);
}

main .appointment-items .appointment-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .appointment-items .appointment-bottom form .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .appointment-items .appointment-bottom form .search-form .search-field {
  width: 100%;
  border-right: 0;
  background: var(--Ebony_Clay);
  border: 1px solid var(--White);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  padding-left: 20px;
  outline: none;
}

main .appointment-items .appointment-bottom form .search-form button {
  padding: 10px 22.5px;
  background: var(--White);
  border: 1px solid var(--Ebony_Clay);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: var(--Ebony_Clay);
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */