@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: var(--Ebony_Clay);
    color: var(--White);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// section {
//     padding: 5em 2em;
// }

:root {
    --White: #ffffff;
    --Black: #000;
    --Ebony_Clay: #252b42;
    --Persian_Rose: #23a6f0;
    --Manhattan: #8EC2F2;
    --Sonic_Silver: #737373;
}

// header section start
.header {

    // navbar section start
    .navbar {
        padding: 2rem 1rem;

        .navbar-logo {
            text-decoration: none;
            font-weight: bold;
            color: var(--White);
            font-size: 1.2em;

            a {
                color: var(--White);
            }
        }

        .mobile-navbar-content {
            display: flex;
            align-items: center;

            img {
                width: 24px;
                padding: 0 12px;
            }
        }

        nav {
            display: none;
        }

        .container {
            display: flex;
            place-content: space-between;
        }

        .mobile-menu {
            cursor: pointer;
        }
    }

    // navbar section end

    // home section start
    .section-home {
        text-align: center;

        // home-left section start
        .home-left {

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                /* or 142% */
                text-align: center;
                letter-spacing: 0.2px;
                /* light-text-color */
                color: var(--White);
                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;
                margin: 35px 0px;
            }

            h4 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                /* or 150% */
                text-align: center;
                letter-spacing: 0.2px;
                /* light-text-color */
                color: var(--White);
                /* Inside auto layout */
                flex: none;
                order: 1;
                flex-grow: 0;
                margin: 35px 0px;
            }

            .primary-cta {
                background: var(--Persian_Rose);
                color: var(--White);
                text-decoration: none;
                padding: 10px 36px;
                font-size: 14px;
                border-radius: 37px;
                font-weight: bold;
                display: inline-block;
                font-style: normal;
                line-height: 22px;
                letter-spacing: 0.2px;
            }

            .learn-more-cta {
                color: var(--White);
                text-decoration: none;
                padding: 10px 36px;
                font-size: 14px;
                line-height: 22px;
                border-radius: 37px;
                font-weight: bold;
                display: inline-block;
                text-align: center;
                letter-spacing: 0.2px;
                margin: 10px 0px;
                border: 2px solid var(--White);
                -webkit-border-radius: 37px;
                -moz-border-radius: 37px;
                -ms-border-radius: 37px;
                -o-border-radius: 37px;
            }
        }

        .home-left img {
            position: absolute;
            left: -5px;
            top: calc(50% - 310px/2 - 116.34px);
            transform: rotate(-0.28deg);
            -webkit-transform: rotate(-0.28deg);
            -moz-transform: rotate(-0.28deg);
            -ms-transform: rotate(-0.28deg);
            -o-transform: rotate(-0.28deg);
        }

        // home-left section end

        // home-right section start
        .home-right {
            position: relative;

            .right-blue-buble {
                position: absolute;
                width: 390.5px;
                height: 404.53px;
                left: -3.94px;
                top: calc(50% - 404.53px/2 + 3.96px);
                mix-blend-mode: normal;
                transform: rotate(-1.13deg);
                z-index: -1;
            }

            .right-light-buble {
                position: absolute;
                width: 390.5px;
                height: 404.53px;
                right: 3.94px;
                top: calc(50% - 404.53px/2 - 20.43px);
                transform: rotate(65.37deg);
                z-index: -1;
            }
        }

        // home-right section end

    }

    // home section end
}

// header section end


// main section start
main {

    // strategy section start
    .section-strategy {
        padding: 65px 0px;

        // strategy-top section start
        .strategy-top {
            text-align: center;

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                text-align: center;
                letter-spacing: 0.2px;
                margin: 10px 0px;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.2px;
                margin: 10px 0px;
                padding: 0 2rem;
            }
        }

        // strategy-top section end

        // strategy-bottom section start
        .strategy-bottom {
            margin-top: 3rem;

            ul.bottom-items {
                margin: 0;
                padding-left: 1rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

                li.items-card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 35px 20px;
                    border-radius: 2px;

                    img {
                        width: 44px;
                        height: 44px;
                    }

                    .card-text {
                        padding-left: 22px;

                        h5 {
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.1px;
                            margin: 5px 0px;
                        }

                        p {
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: 0.2px;
                            margin: 5px 0px;
                        }
                    }
                }
            }
        }

        // strategy-bottom section end
    }

    // strategy section end

    // testimonials section start
    .section-testimonials {
        padding: 55px 50px;

        // testimonials-top section start
        .testimonials-top {
            text-align: center;

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                text-align: center;
                letter-spacing: 0.2px;
                margin: 10px 0px;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                margin: 5px 0px;
            }
        }

        // testimonials-top section end

        // testimonials-bottom section start
        .testimonials-bottom {
            margin-top: 3.75rem;

            .bottom-card {
                background: var(--White);
                border: 1px solid #DEDEDE;
                box-sizing: border-box;
                border-radius: 5px;
                margin: 30px 0px;
                text-align: center;
                padding: 40px 35px;

                img {
                    border-radius: 50%;
                }

                .card-stars {
                    img {
                        border-radius: 0;
                    }
                }

                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    letter-spacing: 0.1px;
                    color: var(--Sonic_Silver);
                    margin: 15px 0px;
                }

                h3 {
                    color: var(--Ebony_Clay);
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    letter-spacing: 0.006rem;
                    margin: 0.3rem 0rem 0.1rem;
                }

                h6 {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    color: var(--Sonic_Silver);
                }
            }
        }

        // testimonials-bottom section end
    }

    // testimonials section end

    // product section start
    .section-product {
        padding: 55px 50px;

        // product-top section start
        .product-top {
            text-align: center;

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                text-align: center;
                letter-spacing: 0.2px;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.2px;
                margin: 30px 0px;
            }
        }

        // product-top section end

        // product-bottom section start
        .product-bottom {
            margin-top: 3.75rem;

            ul.bottom-items {
                margin: 0;
                padding-left: .1em;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
                grid-row-gap: 1.313rem;
                grid-column-gap: 1.313rem;

                li.items-card {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: #FFFFFF;
                    border: 1.90776px solid #FFFFFF;
                    box-sizing: border-box;
                    border-radius: 9.53881px;
                    margin: 21px 0px;
                    padding: 1rem 2.3rem;

                    i {
                        color: var(--Ebony_Clay);
                        font-size: 3.2rem;
                    }

                    .card-text {

                        h5 {
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            letter-spacing: 0.013rem;
                            margin: 0.313rem 0rem;
                            color: var(--Ebony_Clay);
                        }

                        p {
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                            letter-spacing: 0.013rem;
                            margin: 0.313rem 0rem;
                            color: var(--Ebony_Clay);
                        }
                    }
                }
            }
        }

        // product-bottom section end
    }

    // product section end

    // pricing section start
    .section-pricing {
        padding: 55px 50px;

        // pricing-top section start
        .pricing-top {
            text-align: center;

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                text-align: center;
                letter-spacing: 0.2px;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.2px;
                margin: 30px 0px;
            }
        }

        // pricing-top section end

        // pricing-bottom section start
        .pricing-bottom {
            margin-top: 3.75rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
            grid-row-gap: 1.313rem;
            grid-column-gap: 1.313rem;

            .bottom-cards {
                padding: 3.125rem;
                background: #FFFFFF;
                border: 1px solid var(--Persian_Rose);
                box-sizing: border-box;
                border-radius: 0.625rem;

                .card-primary {

                    h3 {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 1.5rem;
                        line-height: 2rem;
                        letter-spacing: 0.006rem;
                        color: var(--Persian_Rose);
                    }

                    p {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 0.875rem;
                        line-height: 1.5rem;
                        letter-spacing: 0.013rem;
                        color: var(--Sonic_Silver);
                    }
                }

                .card-second {

                    .second-cost {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding-bottom: 1.875rem;

                        .cost-num {
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 2.5rem;
                            line-height: 3.563rem;
                            letter-spacing: 0.013rem;
                            padding-right: 1rem;
                            color: var(--Persian_Rose);
                        }

                        .cost-info {
                            .info-logo {
                                font-family: 'Montserrat', sans-serif;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 1rem;
                                line-height: 1.5rem;
                                letter-spacing: 0.006rem;
                                color: var(--Persian_Rose);
                                margin: 0rem;
                            }

                            .info-time {
                                font-family: 'Montserrat', sans-serif;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 24px;
                                letter-spacing: 0.2px;
                                color: var(--Manhattan);
                                margin: 0rem;
                            }
                        }

                    }

                    .second-card-cta {
                        background: var(--Persian_Rose);
                        color: var(--White);
                        text-decoration: none;
                        padding: .6rem 1.3rem;
                        font-size: 1.4rem;
                        border-radius: 0.313rem;
                        font-weight: bold;
                        display: inline-block;
                    }
                }
            }
        }

        // pricing-bottom section end
    }

    // pricing section end

    // world section start
    .section-world {
        padding: 5em 2em 3em;

        .world-primary {
            h2 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 2.5rem;
                line-height: 3.563rem;
                letter-spacing: 0.013rem;
                color: var(--White);
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.25rem;
                letter-spacing: 0.013rem;
                color: var(--White);
            }
        }

        .world-secondary {
            height: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    // world section end

    // appointment section start

    .section-appointment {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15.625rem;
        background: var(--White);
        margin-top: 8.813rem;
        margin-bottom: 5rem;
    }

    .appointment-items {
        display: flex;
        align-items: center;

        .appointment-top {
            h1 {
                font-weight: bold;
                font-size: 2.5rem;
                line-height: 3.563rem;
                letter-spacing: 0.013rem;
                color: var(--Ebony_Clay);
            }

            p {
                width: 439px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: var(--Ebony_Clay);
            }
        }

        .appointment-bottom {
            display: flex;
            align-items: center;

            form {
                .search-form {
                    display: flex;

                    .search-field {
                        width: 100%;
                        border-right: 0;
                        background: var(--Ebony_Clay);
                        border: 1px solid var(--White);
                        box-sizing: border-box;
                        border-radius: 5px 0px 0px 5px;
                        padding-left: 20px;
                        outline: none;
                    }

                    button {
                        padding: 10px 22.5px;
                        background: var(--White);
                        border: 1px solid var(--Ebony_Clay);
                        box-sizing: border-box;
                        border-radius: 0px 5px 5px 0px;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 28px;
                        letter-spacing: 0.2px;
                        color: var(--Ebony_Clay);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    // appointment section end

}

// main section endw