@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --font: 'Montserrat', sans-serif;
  --white: #ffffff;
  --black: #000;
  --ebony-clay: #252b42;
  --persian-rose: #23a6f0;
  --manhattan: #8EC2F2;
  --sonic-silver: #737373;
}

body {
  font-family: var(--font);
  background-color: var(--ebony-clay);
  color: var(--white);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header .navbar {
  padding: 2rem 1rem;
}

.header .navbar .navbar-logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--white);
  font-size: 20px;
}

.header .navbar .navbar-logo a {
  color: var(--white);
}

.header .navbar nav {
  display: none;
}

.header .navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.header .navbar .mobile-menu {
  cursor: pointer;
}

.header .section-home {
  position: relative;
}

.header .section-home .home-left {
  text-align: center;
}

.header .section-home .home-left h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  /* or 142% */
  letter-spacing: 0.2px;
  /* light-text-color */
  color: var(--white);
  margin: 35px 0px;
  text-align: center;
  padding: 0 4.5rem;
}

.header .section-home .home-left h4 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.2px;
  /* light-text-color */
  color: var(--white);
  margin: 35px 0px;
  padding: 0 4.3rem;
}

.header .section-home .home-left .home-left-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .section-home .home-left .home-left-cta .primary-cta {
  background: var(--persian-rose);
  color: var(--white);
  text-decoration: none;
  padding: 10px 36px;
  font-size: 14px;
  border-radius: 37px;
  font-weight: bold;
  display: inline-block;
  font-style: normal;
  line-height: 22px;
  margin: 10px 10px;
  letter-spacing: 0.2px;
}

.header .section-home .home-left .home-left-cta .learn-more-cta {
  color: var(--white);
  text-decoration: none;
  padding: 10px 37px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 37px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 10px 10px;
  border: 2px solid var(--white);
}

.header .section-home .home-left img {
  position: absolute;
  width: 336px;
  height: 310px;
  left: -244px;
  top: calc(50% - 310px/2 - 341.66px);
  -webkit-transform: rotate(18.72deg);
          transform: rotate(18.72deg);
}

.header .section-home .home-right {
  position: relative;
  margin-top: 39px;
}

.header .section-home .home-right .right-blue-buble {
  position: absolute;
  width: 390.5px;
  height: 404.53px;
  left: 8.94px;
  top: calc(50% - 404.53px/2 + 3.96px);
  mix-blEnd-mode: normal;
  -webkit-transform: rotate(-1.13deg);
          transform: rotate(-1.13deg);
  z-index: -1;
  padding-left: 15px;
}

.header .section-home .home-right .right-blue-buble img {
  width: 390.5px !important;
  height: 404.53px !important;
}

.header .section-home .home-right .right-light-buble {
  position: absolute;
  width: 390.5px;
  height: 404.53px;
  right: 12.94px;
  top: calc(50% - 404.53px/2 - 1.57px);
  -webkit-transform: rotate(5.37deg);
          transform: rotate(5.37deg);
  z-index: -1;
}

.header .section-home .home-right .right-light-buble img {
  width: 390.5px !important;
  height: 404.53px !important;
}

.header .section-home .home-right .right-phone img {
  width: 370px;
  height: 457.98px;
  margin-left: 11.25px;
  top: -1px;
}

main .section-strategy {
  padding: 65px 0px 0;
}

main .section-strategy .strategy-top {
  text-align: center;
}

main .section-strategy .strategy-top h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 10px 0px;
  padding: 0 3.9rem;
}

main .section-strategy .strategy-top p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 10px 0px;
  padding: 0 5rem;
}

main .section-strategy .strategy-bottom {
  margin-top: 3rem;
}

main .section-strategy .strategy-bottom ul.bottom-items {
  margin: 0;
  padding-left: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

main .section-strategy .strategy-bottom ul.bottom-items li.items-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 50px;
  border-radius: 2px;
}

main .section-strategy .strategy-bottom ul.bottom-items li.items-card img {
  width: 44px;
  height: 44px;
}

main .section-strategy .strategy-bottom ul.bottom-items li.items-card .card-text {
  padding-left: 22px;
}

main .section-strategy .strategy-bottom ul.bottom-items li.items-card .card-text h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin: 5px 0px;
}

main .section-strategy .strategy-bottom ul.bottom-items li.items-card .card-text p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 5px 0px;
}

main .section-testimonials {
  padding: 55px 50px;
}

main .section-testimonials .testimonials-header {
  text-align: center;
}

main .section-testimonials .testimonials-header h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 10px 0px;
  padding: 0 2rem;
}

main .section-testimonials .testimonials-header p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 5px 0px;
  padding: 0 2rem;
}

main .section-testimonials .testimonials-cards {
  margin-top: 3.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

main .section-testimonials .testimonials-card {
  padding: 0 10px;
}

main .section-testimonials .testimonials-card .card-content {
  background: var(--white);
  border: 1px solid var(--white);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin: 10px 0px;
  text-align: center;
  padding: 40px 35px;
}

main .section-testimonials .testimonials-card .card-content img {
  border-radius: 50%;
}

main .section-testimonials .testimonials-card .card-content .card-stars img {
  border-radius: 0;
}

main .section-testimonials .testimonials-card .card-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  color: var(--sonic-silver);
  margin: 15px 0px;
}

main .section-testimonials .testimonials-card .card-content h3 {
  color: var(--ebony-clay);
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.006rem;
  margin: 0.3rem 0rem 0.1rem;
}

main .section-testimonials .testimonials-card .card-content h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--sonic-silver);
}

main .section-product {
  padding: 55px 50px;
}

main .section-product .product-top {
  text-align: center;
}

main .section-product .product-top h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
}

main .section-product .product-top p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 30px 0px;
}

main .section-product .product-bottom {
  margin-top: 3.75rem;
}

main .section-product .product-bottom ul.bottom-items {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-row-gap: 1.313rem;
  grid-column-gap: 1.313rem;
}

main .section-product .product-bottom ul.bottom-items li.items-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1.90776px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9.53881px;
  margin: 21px 0px;
  padding: 1rem 2.3rem;
}

main .section-product .product-bottom ul.bottom-items li.items-card i {
  color: var(--ebony-clay);
  font-size: 3.2rem;
}

main .section-product .product-bottom ul.bottom-items li.items-card .card-text h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.013rem;
  margin: 0.313rem 0rem;
  color: var(--ebony-clay);
}

main .section-product .product-bottom ul.bottom-items li.items-card .card-text p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.013rem;
  margin: 0.313rem 0rem;
  color: var(--ebony-clay);
}

main .section-pricing {
  padding: 55px 50px;
}

main .section-pricing .pricing-top {
  text-align: center;
}

main .section-pricing .pricing-top h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
}

main .section-pricing .pricing-top p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  margin: 30px 0px;
}

main .section-pricing .pricing-bottom {
  margin-top: 3.75rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-row-gap: 1.313rem;
  grid-column-gap: 1.313rem;
}

main .section-pricing .pricing-bottom .bottom-cards {
  padding: 3.125rem;
  background: var(--white);
  border: 1px solid var(--persian-rose);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.625rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

main .section-pricing .pricing-bottom .bottom-cards .card-primary {
  margin-right: 2rem;
}

main .section-pricing .pricing-bottom .bottom-cards .card-primary h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.006rem;
  color: var(--persian-rose);
}

main .section-pricing .pricing-bottom .bottom-cards .card-primary p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.013rem;
  color: var(--sonic-silver);
  margin-top: 10px;
}

main .section-pricing .pricing-bottom .bottom-cards .card-second .second-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 1.875rem;
}

main .section-pricing .pricing-bottom .bottom-cards .card-second .second-cost .cost-num {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.563rem;
  letter-spacing: 0.013rem;
  padding-right: 1rem;
  color: var(--persian-rose);
}

main .section-pricing .pricing-bottom .bottom-cards .card-second .second-cost .cost-info .info-logo {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.006rem;
  color: var(--persian-rose);
  margin: 0rem;
}

main .section-pricing .pricing-bottom .bottom-cards .card-second .second-cost .cost-info .info-time {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: var(--Manhattan);
  margin: 0rem;
}

main .section-pricing .pricing-bottom .bottom-cards .card-second .second-card-cta {
  background: var(--persian-rose);
  color: var(--white);
  text-decoration: none;
  padding: .6rem 1.3rem;
  font-size: 1.4rem;
  border-radius: 0.313rem;
  font-weight: bold;
  display: inline-block;
}

main .section-world {
  padding: 5em 2em 3em;
}

main .section-world .main-world .world-primary h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.563rem;
  letter-spacing: 0.013rem;
  color: var(--white);
}

main .section-world .main-world .world-primary p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.013rem;
  color: var(--white);
  margin: 15px 0;
}

main .section-world .main-world .world-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
}

main .section-world .main-world .world-secondary img {
  width: 313px;
  height: 169px;
  margin: 14px 0px;
}

main .section-appointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--white);
}

main .appointment-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .appointment-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .appointment-bottom .card-content h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  /* or 142% */
  letter-spacing: 0.2px;
  color: var(--ebony-clay);
  padding: 40px 50px;
}

main .appointment-bottom .card-content form {
  padding: 0 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.2px;
  color: var(--ebony-clay);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .appointment-bottom .card-content form .name {
  height: 30px;
  width: 311px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  letter-spacing: 0.2px;
  color: #737373;
  margin: 10px 0px;
}

main .appointment-bottom .card-content form .email {
  height: 30px;
  width: 311px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  letter-spacing: 0.2px;
  color: #737373;
  margin: 10px 0px;
}

main .appointment-bottom .card-content form .department {
  height: 30px;
  width: 320px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  letter-spacing: 0.2px;
  color: #737373;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0px;
}

main .appointment-bottom .card-content form .time {
  height: 30px;
  width: 320px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  letter-spacing: 0.2px;
  color: #737373;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0px;
}

main .appointment-bottom .card-content form .submit {
  padding: 15px 40px;
  position: static;
  width: 320px;
  height: 52px;
  left: 50px;
  top: 603px;
  background: #23A6F0;
  border-radius: 5px;
  border-color: #23A6F0;
  margin: 40px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--white);
}

footer .section-contact .container .contact-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  padding: 40px 55px;
}

footer .section-contact .container .contact-content .contact-get-in-touch h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px;
  color: var(--white);
  margin: 25px 0px;
}

footer .section-contact .container .contact-content .contact-get-in-touch p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  letter-spacing: 0.2px;
  color: var(--white);
  margin: 25px 0px;
}

footer .section-contact .container .contact-content .contact-get-in-touch .touch-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .section-contact .container .contact-content .contact-get-in-touch .touch-social-links img {
  padding-right: 1rem;
}

footer .section-contact .container .contact-content .contact-company-info h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px;
  color: var(--white);
  margin: 25px 0px;
}

footer .section-contact .container .contact-content .contact-company-info a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.2px;
  color: var(--white);
  margin: 10px 0px;
  text-decoration: none;
  display: block;
}

footer .section-contact .container .contact-content .contact-features h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px;
  color: var(--white);
  margin: 25px 0px;
}

footer .section-contact .container .contact-content .contact-features a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.2px;
  color: var(--white);
  margin: 10px 0px;
  text-decoration: none;
  display: block;
}

footer .section-contact .container .contact-content .contact-resources h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  letter-spacing: 0.1px;
  color: var(--white);
  margin: 25px 0px;
}

footer .section-contact .container .contact-content .contact-resources a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.2px;
  color: var(--white);
  margin: 10px 0px;
  text-decoration: none;
  display: block;
}

.credit .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white);
  color: var(--ebony-clay);
  padding: 25px 70.5px;
}

.credit .container a {
  text-decoration: none;
  color: var(--persian-rose);
}

.credit .container h6 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--ebony-clay);
  margin: 0px 0px;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #3f516e;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5rem;
}

nav li a {
  color: var(--white);
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3rem;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .9em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: var(--white);
    font-size: 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.current-cta a {
    color: var(--white);
    border: 3px solid var(--persian-rose);
    background: var(--persian-rose);
    font-weight: bold;
    border-radius: 5px;
    margin-top: .2em;
  }
  .navbar nav li.current-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
  .navbar nav .secondary-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-left-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .home-right {
    position: relative;
    margin-top: 39px;
  }
  .home-right .right-blue-buble {
    position: absolute;
    width: 390.5px;
    height: 404.53px;
    left: 205.94px !important;
    top: calc(50% - 404.53px/2 + 3.96px);
    mix-blEnd-mode: normal;
    -webkit-transform: rotate(-1.13deg);
            transform: rotate(-1.13deg);
    z-index: -1;
    padding-left: 15px;
  }
  .home-right .right-blue-buble img {
    width: 390.5px !important;
    height: 404.53px !important;
  }
  .home-right .right-light-buble {
    position: absolute;
    width: 390.5px;
    height: 404.53px;
    right: 181px !important;
    top: calc(50% - 404.53px/2 - 1.57px);
    -webkit-transform: rotate(5.37deg);
            transform: rotate(5.37deg);
    z-index: -1;
  }
  .home-right .right-light-buble img {
    width: 390.5px !important;
    height: 404.53px !important;
  }
  .home-right .right-phone img {
    width: 370px;
    height: 457.98px;
    margin-left: 218.25px !important;
    top: -1px;
  }
}
/*# sourceMappingURL=style.css.map */