:root {
    // Font 
    --font: 'Montserrat', sans-serif;

    // Colors
    --white: #ffffff;
    --black: #000;
    --ebony-clay: #252b42;
    --persian-rose: #23a6f0;
    --manhattan: #8EC2F2;
    --sonic-silver: #737373;
}

body {
    font-family: var(--font);
    background-color: var(--ebony-clay);
    color: var(--white);
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}