.container {
    width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: calc((100%/12)*#{$i})
    }
}
