$color_mix: radial-gradient(128.88% 128.88% at 103.9% 20.61%, #E84D70 0%, #A337F6 53.09%, #28A7ED 102%);
$color_black: #000000;
$color_white: #FFFFFF;
$color_whitepale: #F2F4FF;
$color_whitegrayish: #F7F8FD;
$color_graylight: #F2F2F2;
$color_bluesoft: #62BCFA;
$color_bluesoftvol: #7AD8FB;
$color_bluemagentasoft: #4661E6;
$color_bluedark: #373F68;
$color_bluemoderate: #3A4374;
$color_bluejackdark: #647196;
$color_redsoft: #F49F85;
$color_redsoftvol: #FBB57A;
$color_violet: #AD1FEA;