// Google Font Link 'Jost'
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Font Family
$font-family: 'Jost', sans-serif;

// Font Weight
$font-weight-700: 700;
$font-weight-600: 600;
$font-weight-400: 400;

// Font Size & Line Height & Letter Spacing 
$font-style-normal: normal;

// h1
$font-size-h1: 24px;
$font-weight-h1: 700;
$line-height-h1: 35px;
$letter-spacing-h1: -0.33px;

// h2
$font-size-h2: 20px;
$font-weight-h2: 700;
$line-height-h2: 29px;
$letter-spacing-h2: -0.25px;

// h3
$font-size-h3: 18px;
$font-weight-h3: 700;
$line-height-h3: 26px;
$letter-spacing-h3: -0.25px;

// h4
$font-size-h4: 14px;
$font-weight-h4: 700;
$line-height-h4: 20px;
$letter-spacing-h4: -0.2px;

// body1
$font-size-body1: 16px;
$font-weight-body1: 400;
$line-height-body1: 23px;

// body2
$font-size-body2: 15px;
$font-weight-body2: 400;
$line-height-body2: 22px;

// body3
$font-size-body3: 13px;
$font-weight-body3: 600;
$line-height-body3: 19px;

// button
$font-size-button: 14px;
$font-weight-button: 600;
$line-height-button: 20px;