main {
    font-family: $font-family;

    .demo-13 {
        .demo-top {
            @include flex-center-center;
            background: $color-caribbeangreen;

            h2 {
                font-size: 18px;
                font-weight: 700;
                color: $color-white;
                padding: 13px 15px;
            }
        }

        .demo-title {
            @include flex-center-center-column;
            padding: 70px 0;
            color: $color-title;

            h2 {
                font-size: 30px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 10px;
                line-height: 1.1;
            }
        }

        .demo-13_main {

            .demo-13_item {
                position: relative;
                overflow: hidden;
                margin: 49px 20px 40px;
                padding: 20px;
                transition: all .4s ease;
                text-align: center;
                transition-duration: 0.5s;
                background: $color-turqiju;
                z-index: 0;

                i {
                    width: 130px;
                    font-size: 52px;
                    line-height: 120px;
                    position: absolute;
                    top: -46px;
                    left: -24px;
                    height: 110px;
                    margin: 20px 0;
                    color: $color-white;
                    border-radius: 100%;
                    background: $color-bluecool;
                    box-shadow: 0 0 0 10px $color-oldsletter;
                    z-index: 1;
                }

                h2 {
                    font: {
                        size: 30px;
                        weight: 700;
                        family: $font-family;
                    }

                    margin-top: 0;
                    margin-bottom: 15px;
                    padding: 13px 0;
                    text-align: right;
                }

                p {
                    margin: 0 0 10px;
                    padding: 20px 0 17px;
                    text-align: left;
                }

                a {
                    margin: 10px 0 20px;
                    padding: 14px 35px;
                    color: $color-white;
                    border-radius: 40px;
                    background: $color-bluecool;
                    text-decoration: none;
                }

                &:hover {

                    i {
                        color: $color-white;
                        border: 3px solid $color-white;
                    }

                    h2,
                    p {
                        color: $color-white;
                    }

                    a {
                        color: $color-white;
                        background-color: darken($color: $color-bluecool, $amount: 20%);
                    }
                }

                &:hover::after {
                    transform: rotateZ(0) translateX(0);
                }
            }

            .demo-13_item::after {
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                content: '';
                transform: translateY(-100%) translateX(-100%);
                background: $color-bluecool;
                transition: all .4s ease;
            }
        }
    }
}