main {
    font-family: $font-family;

    .demo-03 {

        .demo-top {
            @include flex-center-center;
            background: $color-green;

            h2 {
                font-size: 18px;
                font-weight: 700;
                color: $color-white;
                padding: 13px 15px;
            }
        }

        .demo-title {
            color: $color-black;
            @include flex-center-center-column;
            padding: 70px 0;

            h2 {
                font-size: 30px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 10px;
                line-height: 1.1;
            }
        }

        .demo-03_main {

            .demo-03_item {
                position: relative;
                overflow: hidden;
                margin: 40px 0;
                padding: 10px;

                transition: all .4s ease;
                text-align: center;
                border: 3px solid $color-white;

                i {
                    width: 130px;
                    height: 130px;
                    color: $color-green;
                    text-align: center;
                    font-size: 52px;
                    line-height: 120px;
                    border-radius: 100%;
                }

                h2 {
                    font: {
                        size: 30px;
                        weight: 700;
                        family: $font-family;
                    }
                    margin-top: 0;
                    margin-bottom: 0;
                    padding: 13px 0
                }

                p {
                    color: $color-black;
                    margin: 0 0 10px;

                    padding: 0 17px 17px;
                    color: $color-jordygray;
                }

                a {
                    margin: 10px 0 20px;
                    padding: 14px 35px;
                    color: $color-white;
                    display: inline-block;
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    text-decoration: none;
                    background: $color-green;

                    &:hover {
                        color: $color-white;
                        background-color: lighten($color: $color-green, $amount: 10%);
                    }
                }

                &:hover {
                    animation: border 3s forwards;
                    transition: all 0s ease;


                }
            }

            .demo-03_item::after,
            .demo-03_item::before {
                position: absolute;
                box-sizing: border-box;
                width: 99.5%;
                height: 2px;
                z-index: -1;
                left: 0;
                content: ''
            }

            .demo-03_item:before {
                bottom: 0;
                transform: translateX(100%);
                border-bottom: 2px solid transparent;
                border-left: 2px solid transparent
            }
            
            .demo-03_item:after {
                top: 0;
                transform: translateX(-100%);
                border-top: 2px solid transparent;
                border-right: 2px solid transparent
            }
            
            .demo-03_item:hover:after,
            .demo-03_item:hover:before {
                height: 100%;
                transform: translateX(0);
                border-color: #24cf5f
            }
            
            .demo-03_item:hover:before {
                transition: .2s transform ease, .1s height ease .1s
            }
            
            .demo-03_item:hover:after {
                transition: .2s transform ease .2s, .1s height ease .3s
            }
        }
    }
}