main {
    font-family: $font-family;

    .demo-05 {

        .demo-top {
            @include flex-center-center;
            background: $color-lightblue;

            h2 {
                font: {
                    size: 18px;
                    weight: 700;
                    family: $font-family;
                }
                color: $color-white;
                padding: 13px 15px;
            }
        }

        .demo-title {
            color: $color-black;
            @include flex-center-center-column;
            padding: 70px 0;

            h2 {
                font: {
                    size: 30px;
                    weight: 700;
                    family: $font-family;
                }
                margin-top: 20px;
                margin-bottom: 10px;
                line-height: 1.1;
            }
        }

        .demo-05_main {

            .demo-05_item {
                position: relative;
                z-index: 0;
                margin: 40px 20px;
                padding: 30px;
                text-align: center;
                // background: lighten($color: $color-lightblue, $amount: 15%);
                background: $color-bluegreen;
                transition: all .3s ease;

                i {
                    width: 100px;
                    height: 100px;
                    margin: 20px;
                    font-size: 52px;
                    line-height: 120px;
                    color: lighten($color: $color-lightblue, $amount: 40%);
                    text-align: center;
                }

                h2 {
                    font: {
                        size: 30px;
                        weight: 700;
                        family: $font-family;
                    }
                    margin-top: 0;
                    margin-bottom: 15px;
                    padding: 13px 0;
                    color: $color-white;
                }

                p {
                    padding: 0 17px 17px;
                    color: $color-white;
                    margin: 0 0 10px;
                }

                a {
                    font: {
                        size: 14px;
                        weight: 400;
                        family: $font-family;
                    }
                    margin: 10px 0 20px;
                    padding: 14px 35px;
                    color: $color-white;
                    display: inline-block;
                    margin-bottom: 0;
                    text-align: center;
                    text-decoration: none;
                    background: darken($color: $color-lightblue, $amount: 10%);
                }

                &::after {
                    position: absolute;
                    width: 95%;
                    height: 95%;
                    border: 2px solid $color-dodgerblue;
                    content: '';
                    top: 10px;
                    right: 10px;
                    opacity: .6;
                    z-index: -1;
                    box-sizing: border-box;
                    transition: all .3s ease;
                }

                &:hover {
                    a {
                        background-color: $color-dodgerblue;
                        color: $color-white;
                        transition: all .3s ease;
                    }

                    .demo-05_main-cta {
                        transform: scale(0);
                        transition: all .3s ease;
                    }
                }

                &:hover::after {
                    border: 5px solid $color-dodgerblue;
                }

                .demo-05_main-cta {
                    position: absolute;
                    width: 90%;
                    height: 90%;
                    top: 5%;
                    left: 5%;
                    z-index: -1;
                    background-color: $color-dodgerblue;
                    transition: all .8s ease;
                    -webkit-transition: all .8s ease;
                    -moz-transition: all .8s ease;
                    -ms-transition: all .8s ease;
                    -o-transition: all .8s ease;
                }
            }
        }
    }
}