main {
    .demo-16 {
        .demo-top {
            @include flex-center-center;
            background: darken($color: $color-newsletter, $amount: 20%);

            h2 {
                font: {
                    size: 18px;
                    weight: 700;
                    family: $font-family;
                }

                color: $color-white;
                padding: 13px 16px;
            }
        }

        .demo-title {
            @include flex-center-center-column;
            padding: 70px 0;
            color: $color-title;

            h2 {
                font: {
                    size: 30px;
                    weight: 700;
                    family: $font-family;
                }

                margin-top: 20px;
                margin-bottom: 10px;
                line-height: 1.1;
            }
        }

        .demo-16_main {

            .demo-16_item {
                position: relative;
                overflow: hidden;
                margin: 40px 20px;
                transition: all .4s ease;
                text-align: center;
                background: $color-newsletter;
                
                img {
                    // height: 260px;
                    // vertical-align: middle;
                    // width: 360px;
                    display: block;
                    max-width: 100%;
                    height: auto;
                }

                .data {
                    position: absolute;
                    bottom: 20px;
                    z-index: 1;
                    color: $color-white;
                    width: 100%;
                    padding-left: 20px;
                    padding-right: 20px;
                    left: -20px;

                    h2 {
                        font: {
                            size: 25px;
                            weight: 700;
                            family: $font-family;
                        }

                        margin-bottom: 20px;
                        padding: 13px 0;
                        text-align: center;
                    }

                    a {
                        display: none;
                        padding: 10px 20px;
                        color: $color-white;
                        width: 140px;
                        margin: auto;
                        background: linear-gradient(to right, $color-black 50%, $color-white 50%);
                        background-size: 200% 100%;
                        background-position: left;
                        transition: all .2s ease;
                        border: none;
                        text-align: center;
                        text-decoration: none;

                        &:hover {
                            background-position: right;
                            color: $color-black;
                        }
                    }
                }

                &:hover {
                    i {
                        animation: hinge 1.4s infinite forwards;
                    }

                    a {
                        display: block;
                        animation: fadeInUp .4s 1 forwards;
                    }

                    @keyframes fadeInUp {
                        0% {
                            opacity: 0;
                            transform: translateY(100%)
                        }
                    
                        100% {
                            opacity: 1;
                            transform: translateY(0)
                        }
                    }

                    p {
                        display: none
                    }

                    h2 {
                        animation: fadeInDown .4s 1 forwards;
                    }

                    @keyframes fadeInDown {
                        0% {
                            opacity: 0;
                            transform: translateY(-100%)
                        }
                    
                        100% {
                            opacity: 1;
                            transform: translateY(0)
                        }
                    }
                }

                &:hover::after {
                    transform: translateY(0);
                }

                &:hover::before {
                    transform: translateY(-100%);
                }


            }

            .demo-16_item:after,
            .demo-16_item:before {
                content: '';
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: all .4s ease;
                z-index: 0;
            }

            .demo-16_item::before {
                position: absolute;
                background: rgba(0, 0, 0, .25);
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
            }

            .demo-16_item:after {
                position: absolute;
                background: rgba(0, 0, 0, .35);
                transform: translateY(100%);
                -webkit-transform: translateY(100%);
                -moz-transform: translateY(100%);
                -ms-transform: translateY(100%);
                -o-transform: translateY(100%);
            }
        }
    }
}