header {
    @include flex-center-center-column;
    font: {
        size: 18px;
        weight: 700;
        family: $font-family;
    }
    background: $color-black;
    color: $color-orange;
    padding: 60px 0;

    h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 18px;
        margin: 10px 0px;
    }
}  