/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1 {
  width: calc((100%/12)*1);
}

.col-2 {
  width: calc((100%/12)*2);
}

.col-3 {
  width: calc((100%/12)*3);
}

.col-4 {
  width: calc((100%/12)*4);
}

.col-5 {
  width: calc((100%/12)*5);
}

.col-6 {
  width: calc((100%/12)*6);
}

.col-7 {
  width: calc((100%/12)*7);
}

.col-8 {
  width: calc((100%/12)*8);
}

.col-9 {
  width: calc((100%/12)*9);
}

.col-10 {
  width: calc((100%/12)*10);
}

.col-11 {
  width: calc((100%/12)*11);
}

.col-12 {
  width: calc((100%/12)*12);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #000000;
  color: #ffa500;
  padding: 60px 0;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header h2 {
  font-size: 18px;
  margin: 10px 0px;
}

main {
  font-family: "Droid Sans", sans-serif;
}

main .demo-01 .demo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffa500;
}

main .demo-01 .demo-top h2 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 13px 15px;
}

main .demo-01 .demo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
  color: #333;
}

main .demo-01 .demo-title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

main .demo-01 .demo-01_main .demo-01_item {
  position: relative;
  overflow: hidden;
  margin: 40px 20px;
  padding: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 0 #ffa500, 1px 2px 10px #919191;
          box-shadow: inset 0 0 0 0 #ffa500, 1px 2px 10px #919191;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

main .demo-01 .demo-01_main .demo-01_item i {
  width: 130px;
  height: 130px;
  margin: 20px;
  font-size: 52px;
  line-height: 120px;
  color: #ffa500;
  border: solid;
  border-radius: 100%;
  text-align: center;
}

main .demo-01 .demo-01_main .demo-01_item h2 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 13px 0;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

main .demo-01 .demo-01_main .demo-01_item p {
  padding: 0 17px 17px;
  color: #919191;
  margin: 0 0 10px;
}

main .demo-01 .demo-01_main .demo-01_item a {
  margin: 10px 0 20px;
  padding: 14px 35px;
  color: #ffffff;
  border-radius: 0;
  background: #ffa500;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
}

main .demo-01 .demo-01_main .demo-01_item:hover {
  -webkit-box-shadow: inset 0 -410px 0 0 #ffa500, 1px 2px 10px #919191;
          box-shadow: inset 0 -410px 0 0 #ffa500, 1px 2px 10px #919191;
}

main .demo-01 .demo-01_main .demo-01_item:hover i {
  color: #ffffff;
  border: 3px solid #ffffff;
}

main .demo-01 .demo-01_main .demo-01_item:hover h2,
main .demo-01 .demo-01_main .demo-01_item:hover p {
  color: #ffffff;
}

main .demo-01 .demo-01_main .demo-01_item:hover a {
  color: #ffa500;
  background-color: #ffffff;
}

main {
  font-family: "Droid Sans", sans-serif;
}

main .demo-02 {
  background: #5b5bae;
}

main .demo-02 .demo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4f4fa0;
}

main .demo-02 .demo-top h2 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 13px 15px;
}

main .demo-02 .demo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
  color: #ffffff;
}

main .demo-02 .demo-title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

main .demo-02 .demo-02_main .demo-02_item {
  position: relative;
  overflow: hidden;
  margin: 40px 20px;
  padding: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
}

main .demo-02 .demo-02_main .demo-02_item i {
  width: 130px;
  height: 130px;
  margin: 20px;
  font-size: 52px;
  line-height: 120px;
  color: #ffffff;
  border: solid;
  border-radius: 100%;
  text-align: center;
}

main .demo-02 .demo-02_main .demo-02_item h2 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 13px 0;
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

main .demo-02 .demo-02_main .demo-02_item p {
  padding: 0 17px 17px;
  color: #ffffff;
  margin: 0 0 10px;
}

main .demo-02 .demo-02_main .demo-02_item a {
  margin: 10px 0 20px;
  padding: 14px 35px;
  color: #5b5bae;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  background: #ffffff;
}

main .demo-02 .demo-02_main .demo-02_item:hover {
  background: #47478f;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

main .demo-02 .demo-02_main .demo-02_item:hover a {
  color: #ffffff;
  background-color: #5b5bae;
}

main {
  font-family: "Droid Sans", sans-serif;
}

main .demo-03 .demo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #24cf5f;
}

main .demo-03 .demo-top h2 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 13px 15px;
}

main .demo-03 .demo-title {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
}

main .demo-03 .demo-title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

main .demo-03 .demo-03_main .demo-03_item {
  margin: 40px 20px;
  padding: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
  border: 3px solid white;
}

main .demo-03 .demo-03_main .demo-03_item i {
  width: 130px;
  height: 130px;
  margin: 20px;
  font-size: 52px;
  line-height: 120px;
  color: #24cf5f;
  border: solid;
  border-radius: 100%;
  text-align: center;
}

main .demo-03 .demo-03_main .demo-03_item h2 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 13px 0;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
}

main .demo-03 .demo-03_main .demo-03_item p {
  padding: 0 17px 17px;
  color: #000000;
  margin: 0 0 10px;
}

main .demo-03 .demo-03_main .demo-03_item a {
  margin: 10px 0 20px;
  padding: 14px 35px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  background: #24cf5f;
}

main .demo-03 .demo-03_main .demo-03_item a:hover {
  color: #ffffff;
  background-color: #47df7b;
}

main .demo-03 .demo-03_main .demo-03_item:hover {
  -webkit-animation: border 3s forwards;
          animation: border 3s forwards;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

@-webkit-keyframes border {
  0% {
    border-bottom: 3px solid #24cf5f;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
  }
  25% {
    border-bottom: 3px solid #24cf5f;
    border-left: 3px solid #24cf5f;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
  }
  75% {
    border-bottom: 3px solid #24cf5f;
    border-left: 3px solid #24cf5f;
    border-top: 3px solid #24cf5f;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
  }
  100% {
    border-bottom: 3px solid #24cf5f;
    border-left: 3px solid #24cf5f;
    border-top: 3px solid #24cf5f;
    border-right: 3px solid #24cf5f;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
  }
}

@keyframes border {
  0% {
    border-bottom: 3px solid #24cf5f;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
  }
  25% {
    border-bottom: 3px solid #24cf5f;
    border-left: 3px solid #24cf5f;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
  }
  75% {
    border-bottom: 3px solid #24cf5f;
    border-left: 3px solid #24cf5f;
    border-top: 3px solid #24cf5f;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
  }
  100% {
    border-bottom: 3px solid #24cf5f;
    border-left: 3px solid #24cf5f;
    border-top: 3px solid #24cf5f;
    border-right: 3px solid #24cf5f;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;
  }
}

main {
  font-family: "Droid Sans", sans-serif;
}

main .demo-04 .demo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e12573;
}

main .demo-04 .demo-top h2 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 13px 15px;
}

main .demo-04 .demo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
  color: #333;
}

main .demo-04 .demo-title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

main .demo-04 .demo-04_main .demo-04_item {
  position: relative;
  overflow: hidden;
  margin: 40px 20px;
  padding: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
  -webkit-box-shadow: inset 0 0 0 0 #e12573, 1px 2px 10px #919191;
          box-shadow: inset 0 0 0 0 #e12573, 1px 2px 10px #919191;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

main .demo-04 .demo-04_main .demo-04_item i {
  width: 130px;
  height: 130px;
  margin: 20px;
  font-size: 42px;
  line-height: 120px;
  color: #e12573;
  text-align: center;
}

main .demo-04 .demo-04_main .demo-04_item h2 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 13px 0;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

main .demo-04 .demo-04_main .demo-04_item p {
  padding: 0 17px 17px;
  color: #919191;
  margin: 0 0 10px;
}

main .demo-04 .demo-04_main .demo-04_item .demo-04_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

main .demo-04 .demo-04_main .demo-04_item .demo-04_button a {
  padding: 14px 35px;
  color: #ffffff;
  background: #e12573;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 3rem;
}

main .demo-04 .demo-04_main .demo-04_item:hover {
  -webkit-box-shadow: inset -450px 0 0 0 #e12573, 1px 2px 10px #919191;
          box-shadow: inset -450px 0 0 0 #e12573, 1px 2px 10px #919191;
}

main .demo-04 .demo-04_main .demo-04_item:hover i {
  color: #ffffff;
}

main .demo-04 .demo-04_main .demo-04_item:hover h2,
main .demo-04 .demo-04_main .demo-04_item:hover p {
  color: #ffffff;
}

main .demo-04 .demo-04_main .demo-04_item:hover a {
  color: #e12573;
  background-color: #ffffff;
}

main {
  font-family: "Droid Sans", sans-serif;
}

main .demo-05 .demo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1997d3;
}

main .demo-05 .demo-top h2 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 13px 15px;
}

main .demo-05 .demo-title {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
}

main .demo-05 .demo-title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

main .demo-05 .demo-05_main .demo-05_item {
  position: relative;
  z-index: 0;
  margin: 40px 20px;
  padding: 20px;
  text-align: center;
  background: #118fcb;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

main .demo-05 .demo-05_main .demo-05_item i {
  width: 130px;
  height: 130px;
  margin: 20px;
  font-size: 52px;
  line-height: 120px;
  color: #c0e6f8;
  border: solid;
  border-radius: 100%;
  text-align: center;
}

main .demo-05 .demo-05_main .demo-05_item h2 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 13px 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
}

main .demo-05 .demo-05_main .demo-05_item p {
  padding: 0 17px 17px;
  color: #ffffff;
  margin: 0 0 10px;
}

main .demo-05 .demo-05_main .demo-05_item a {
  margin: 10px 0 20px;
  padding: 14px 35px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background: #1476a5;
}

main .demo-05 .demo-05_main .demo-05_item::after {
  position: absolute;
  width: 95%;
  height: 95%;
  border: 2px solid #20B7FF;
  content: '';
  top: 10px;
  right: 10px;
  opacity: .6;
  z-index: -1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

main .demo-05 .demo-05_main .demo-05_item:hover a {
  background-color: #20B7FF;
  color: white;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

main .demo-05 .demo-05_main .demo-05_item:hover .demo-05_main-cta {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

main .demo-05 .demo-05_main .demo-05_item:hover::after {
  border: 5px solid #20B7FF;
}

main .demo-05 .demo-05_main .demo-05_item .demo-05_main-cta {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  z-index: -1;
  background-color: #20B7FF;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

main {
  font-family: "Droid Sans", sans-serif;
}

main .demo-06 .demo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #19d3ca;
}

main .demo-06 .demo-top h2 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 13px 15px;
}

main .demo-06 .demo-title {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
}

main .demo-06 .demo-title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

main .demo-06 .demo-06_main .demo-06_item {
  position: relative;
  z-index: 0;
  margin: 40px 20px;
  padding: 20px;
  text-align: center;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

main .demo-06 .demo-06_main .demo-06_item i {
  width: 130px;
  height: 130px;
  margin: 20px;
  font-size: 52px;
  line-height: 120px;
  color: #ffffff;
  background: #19d3ca;
  border-radius: 1rem;
  text-align: center;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

main .demo-06 .demo-06_main .demo-06_item h2 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 13px 0;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
}

main .demo-06 .demo-06_main .demo-06_item p {
  padding: 0 17px 17px;
  color: #000000;
  margin: 0 0 10px;
}

main .demo-06 .demo-06_main .demo-06_item a {
  margin: 10px 0 20px;
  padding: 14px 35px;
  color: #ffffff;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background: #19d3ca;
}

main .demo-06 .demo-06_main .demo-06_item a:hover {
  background: #14a59e;
}

main .demo-06 .demo-06_main .demo-06_item .demo-06_main-cta {
  position: relative;
  overflow: hidden;
  text-align: right;
  border-bottom: 1px solid #19d3ca;
}

main .demo-06 .demo-06_main .demo-06_item .demo-06_main-cta span {
  font-size: 72px;
  line-height: 72px;
  position: relative;
  top: 30px;
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: #e9e9e9;
}

main .demo-06 .demo-06_main .demo-06_item:hover i {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}

main .demo-06 .demo-06_main .demo-06_item:hover .demo-06_main-cta span {
  top: -6px;
}

main {
  font-family: "Droid Sans", sans-serif;
}

main .demo-07 .demo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2e4b9b;
}

main .demo-07 .demo-top h2 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 13px 15px;
}

main .demo-07 .demo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
  color: #333;
}

main .demo-07 .demo-title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

main .demo-07 .demo-07_main .demo-07_item {
  position: relative;
  margin: 40px 20px;
  padding: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .demo-07 .demo-07_main .demo-07_item i {
  position: absolute;
  font-size: 122px;
  top: 0;
  right: 20px;
  line-height: 120px;
  color: #8aa9ff;
  text-align: right;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .demo-07 .demo-07_main .demo-07_item h2 {
  position: relative;
  top: 0.5rem;
  margin-bottom: 15px;
  padding: 13px 0;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .demo-07 .demo-07_main .demo-07_item p {
  padding: 40px 17px 17px;
  color: #919191;
  margin: 0 0 10px;
}

main .demo-07 .demo-07_main .demo-07_item a {
  margin: 10px 0 20px;
  padding: 14px 35px;
  color: #ffffff;
  background: #2e4b9b;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

main .demo-07 .demo-07_main .demo-07_item a:hover {
  background-color: #8aa9ff;
}

main .demo-07 .demo-07_main .demo-07_item:hover i {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

main {
  font-family: "Droid Sans", sans-serif;
}

main .demo-08 {
  background: #edf4f3;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main .demo-08 .demo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ff4343;
}

main .demo-08 .demo-top h2 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 13px 15px;
}

main .demo-08 .demo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
  color: #333;
}

main .demo-08 .demo-title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

main .demo-08 .demo-08_main .demo-08_item {
  position: relative;
  overflow: hidden;
  margin: 40px 20px;
  padding: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
  background: #ffffff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

main .demo-08 .demo-08_main .demo-08_item i {
  font-size: 52px;
  color: #ff4343;
  width: 130px;
  line-height: 130px;
  text-align: center;
  margin: 20px;
  color: #ff4343;
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  -webkit-box-shadow: 5px 5px 3px #ddd;
          box-shadow: 5px 5px 3px #ddd;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main .demo-08 .demo-08_main .demo-08_item h2 {
  margin: 0 -10px 15px;
  padding: 10px 0;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  background: #edf4f3;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main .demo-08 .demo-08_main .demo-08_item p {
  padding: 0 17px 17px;
  color: #919191;
  margin: 0 0 10px;
}

main .demo-08 .demo-08_main .demo-08_item a {
  margin: 10px 0 20px;
  padding: 14px 35px;
  color: #ffffff;
  border-radius: 0;
  background: #ff4343;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 1rem;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main .demo-08 .demo-08_main .demo-08_item a:hover {
  background: #dc0000;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main .demo-08 .demo-08_main .demo-08_item:hover h2 {
  -webkit-box-shadow: inset -410px 0 0 0 #ff4343;
          box-shadow: inset -410px 0 0 0 #ff4343;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: #ffffff;
}

main .demo-08 .demo-08_main .demo-08_item:hover i {
  -webkit-box-shadow: -5px 7px 3px #ddd;
          box-shadow: -5px 7px 3px #ddd;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main {
  font-family: "Droid Sans", sans-serif;
}

main .demo-09 .demo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #c0df19;
}

main .demo-09 .demo-top h2 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 13px 15px;
}

main .demo-09 .demo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 0;
  color: #333;
}

main .demo-09 .demo-title h2 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}

main .demo-09 .demo-09_main .demo-09_item {
  margin: 40px 20px;
  padding: 20px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  text-align: center;
  background-color: #f4ffb9;
}

main .demo-09 .demo-09_main .demo-09_item i {
  width: 130px;
  margin: -90px 20px 20px;
  color: #c0df19;
  border: 1px solid #fff;
  border-radius: 100%;
  background: #fff;
  font-size: 52px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  line-height: 120px;
  height: 130px;
  transition: all .4s ease;
}

main .demo-09 .demo-09_main .demo-09_item h2 {
  margin-top: 0;
  margin-bottom: 15px;
  padding: 13px 0;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  font-size: 30px;
}

main .demo-09 .demo-09_main .demo-09_item p {
  padding: 0 17px 17px;
  color: #919191;
  margin: 0 0 10px;
}

main .demo-09 .demo-09_main .demo-09_item a {
  margin: 10px 0 20px;
  padding: 14px 35px;
  color: #ffffff;
  border-radius: 0;
  background: #c0df19;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main .demo-09 .demo-09_main .demo-09_item a:hover {
  background: #99b114;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

main .demo-09 .demo-09_main .demo-09_item:hover i {
  background-color: #c0df19;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
