.btn {
  padding: 1rem;
  text-decoration: none;
  margin: 0.5rem;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

a {
  text-align: center;
  display: inline-block;
}

.btn-color > a {
  border-radius: 0.5rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.btn-rounded > a {
  border-radius: 2rem;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
