.btn {
  padding: 1rem;
  text-decoration: none;
}

.btn-color .btn-primary {
  color: #ffffff;
  background: #5e2572;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 0.3rem;
}

.btn-color .btn-primary:hover {
  background: #4a115e;
}

.btn-color .btn-secondary {
  color: #212529;
  background: #d9dbdc;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 0.3rem;
}

.btn-color .btn-secondary:hover {
  background: #c5c7c8;
}

.btn-color .btn-succes {
  color: #ffffff;
  background: #00c689;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 0.3rem;
}

.btn-color .btn-succes:hover {
  background: #00b275;
}

.btn-color .btn-danger {
  color: #ffffff;
  background: #fc7242;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 0.3rem;
}

.btn-color .btn-danger:hover {
  background: #e85e2e;
}

.btn-color .btn-warning {
  color: #212529;
  background: #ffc100;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 0.3rem;
}

.btn-color .btn-warning:hover {
  background: #ebad00;
}

.btn-color .btn-info {
  color: #ffffff;
  background: #4d13d1;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 0.3rem;
}

.btn-color .btn-info:hover {
  background: #3900bd;
}

.btn-color .btn-light {
  color: #212529;
  background: #f8f9fa;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 0.3rem;
}

.btn-color .btn-light:hover {
  background: #e4e5e6;
}

.btn-color .btn-dark {
  color: #ffffff;
  background: #4f4a60;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 0.3rem;
}

.btn-color .btn-dark:hover {
  background: #3b364c;
}
