// Font
$font-family: 'Droid Sans', sans-serif;

// Colors
$color-title: #333;
$color-black: #000000;
$color-white: #ffffff;
$color-orange: #ffa500;
$color-magenta: #5b5bae;
$color-green: #24cf5f;
$color-pink: #e12573;
$color-lightblue: #1997d3;
$color-bluegreen: #118fcb;
$color-dodgerblue: #20B7FF;
$color-turquoise: #19d3ca;  
$color-turqiju: #eee;  
$color-darkblue: #2e4b9b;
$color-jordyblue: #8aa9ff;
$color-jordygray: #919191;
$color-jordyborder: #e5e5e5;
$color-jordycolor: #ddd;
$color-red: #ff4343; 
$color-wall: #edf4f3;
$color-fueqo: #c0df19;
$color-fueshoes: #FFD356;
$color-fueqolova: #cdcdcd;
$color-purple: #816ee7;
$color-frostbite: #ee12a0;
$color-brightturquoise: #12daee;
$color-caribbeangreen: #22ecb4; 
$color-caribbeaneen: #4df; 
$color-bluecool:#1ce6ae;
$color-limensik: #edfdff;
$color-sasquatchsocks: #ff408f;
$color-sasquatchshoes: #9EC1FF;
$color-cyan: #44ddff;
$color-newsletter: #e1e1e1;
$color-oldsletter: #e9e9e9;
$color-shadow: rgba(0, 0, 0, .18); 
