// Fonts
$font-poppins: 'Poppins', sans-serif;

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #888888;
$color-pomegranate: #f34723;
$color-zinnwaldite: #ebb5ac;
$color-mineshaft: #262626;