/*==========================================================
                        Layout Start
==========================================================*/
.container {
    max-width: $container-width;
    margin: 0 auto;
}

.row {
    @include flex;
    @include justify-content-between;
    @include flex-wrap
}

.flex {
    @include flex;
}

.flex-center-end {
    @include flex-center-end;
}

.align-center {
    @include align-items-center;
}

.justify-content-between {
    @include justify-content-between;
}


/*==========================================================
                        Layout End
==========================================================*/

/*==========================================================
                12 Column Grid System Start
==========================================================*/
@for $i from 1 through 12 {
    .col-#{$i} {
        position: relative;
        width: calc((100%/12)*#{$i}) !important;
        box-sizing: border-box;
        padding: 15px;
    }
}

@media (max-width:596px) {
    .container {
        width: 100%;
    }

    @for $i from 1 through 12 {
        .col-xs-#{$i} {
            position: relative;
            width: calc((100%/12)*#{$i}) !important;
            box-sizing: border-box;
            padding: 15px;
        }
    }
}

@media (min-width:596px) and (max-width:968px) {
    .container {
        width: 100%;
    }

    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            position: relative;
            width: calc((100%/12)*#{$i}) !important;
            box-sizing: border-box;
            padding: 15px;
        }
    }
}

@media (min-width:968px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    @for $i from 1 through 12 {
        .col-md-#{$i} {
            position: relative;
            width: calc((100%/12)*#{$i}) !important;
            box-sizing: border-box;
            padding: 15px;
        }
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .container {
        width: 100%;
    }

    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            position: relative;
            width: calc((100%/12)*#{$i}) !important;
            box-sizing: border-box;
            padding: 15px;
        }
    }
}

/*==========================================================
                12 Column Grid System End
==========================================================*/

/*==========================================================
                    Padding Start
==========================================================*/
@for $i from 1 through 9 {
    .p-#{$i} {
        padding: calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 9 {
    .px-#{$i} {
        padding:0px calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 9 {
    .py-#{$i} {
        padding:calc(#{$space-x} * #{$i}) 0px !important;
    }
}

@for $i from 1 through 9 {
    .pt-#{$i} {
        padding-top:calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 9 {
    .pr-#{$i} {
        padding-right:calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 9 {
    .pb-#{$i} {
        padding-bottom:calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 9 {
    .pl-#{$i} {
        padding-left:calc(#{$space-x} * #{$i}) !important;
    }
}

/*==========================================================
                    Padding End
==========================================================*/

/*==========================================================
                    Margin Start
==========================================================*/
@for $i from 1 through 9 {
    .m-#{$i} {
        margin: calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 9 {
    .mx-#{$i} {
        margin:0px calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 9 {
    .my-#{$i} {
        margin:calc(#{$space-x} * #{$i}) 0px !important;
    }
}

@for $i from 1 through 9 {
    .mt-#{$i} {
        margin-top:calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 9 {
    .mr-#{$i} {
        margin-right:calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 9 {
    .mb-#{$i} {
        margin-bottom:calc(#{$space-x} * #{$i}) !important;
    }
}

@for $i from 1 through 9 {
    .ml-#{$i} {
        margin-left:calc(#{$space-x} * #{$i}) !important;
    }
}

/*==========================================================
                    Margin End
==========================================================*/