@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "./reset.scss";
@import "./variables.scss";

// header section start
.header {

    // navbar section start
    .navbar {
        padding: 2rem 1rem;

        .navbar-logo {
            text-decoration: none;
            font-weight: bold;
            color: var(--white);
            font-size: 20px;

            a {
                color: var(--white);
            }
        }

        nav {
            display: none;
        }

        .container {
            display: flex;
            place-content: space-between;
        }

        .mobile-menu {
            cursor: pointer;
        }
    }

    // navbar section End

    // home section start
    .section-home {
        position: relative;

        // home-left section start
        .home-left {
            text-align: center;

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                /* or 142% */
                letter-spacing: 0.2px;
                /* light-text-color */
                color: var(--white);
                margin: 35px 0px;
                text-align: center;
                padding: 0 4.5rem;
            }

            h4 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
                /* or 150% */
                text-align: center;
                letter-spacing: 0.2px;
                /* light-text-color */
                color: var(--white);
                margin: 35px 0px;
                padding: 0 4.3rem;
            }

            .home-left-cta {
                display: flex;
                align-items: center;
                flex-direction: column;

                .primary-cta {
                    background: var(--persian-rose);
                    color: var(--white);
                    text-decoration: none;
                    padding: 10px 36px;
                    font-size: 14px;
                    border-radius: 37px;
                    font-weight: bold;
                    display: inline-block;
                    font-style: normal;
                    line-height: 22px;
                    margin: 10px 10px;
                    letter-spacing: 0.2px;
                }

                .learn-more-cta {
                    color: var(--white);
                    text-decoration: none;
                    padding: 10px 37px;
                    font-size: 14px;
                    line-height: 22px;
                    border-radius: 37px;
                    font-weight: bold;
                    display: inline-block;
                    text-align: center;
                    letter-spacing: 0.2px;
                    margin: 10px 10px;
                    border: 2px solid var(--white);
                }
            }

        }

        .home-left img {
            position: absolute;
            width: 336px;
            height: 310px;
            left: -244px;
            top: calc(50% - 310px/2 - 341.66px);
            transform: rotate(18.72deg);
        }

        // home-left section End

        // home-right section start
        .home-right {
            position: relative;
            margin-top: 39px;

            .right-blue-buble {
                position: absolute;
                width: 390.5px;
                height: 404.53px;
                left: 8.94px;
                top: calc(50% - 404.53px/2 + 3.96px);
                mix-blEnd-mode: normal;
                transform: rotate(-1.13deg);
                z-index: -1;
                padding-left: 15px;

                img {
                    width: 390.5px !important;
                    height: 404.53px !important;
                }
            }

            .right-light-buble {
                position: absolute;
                width: 390.5px;
                height: 404.53px;
                right: 12.94px;
                top: calc(50% - 404.53px/2 - 1.57px);
                transform: rotate(5.37deg);
                z-index: -1;

                img {
                    width: 390.5px !important;
                    height: 404.53px !important;
                }
            }

            .right-phone img {
                width: 370px;
                height: 457.98px;
                margin-left: 11.25px;
                top: -1px;
            }
        }

        // home-right section End

    }

    // home section End
}

// header section End


// main section start
main {

    // strategy section start
    .section-strategy {
        padding: 65px 0px 0;

        // strategy-top section start
        .strategy-top {
            text-align: center;

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                text-align: center;
                letter-spacing: 0.2px;
                margin: 10px 0px;
                padding: 0 3.9rem;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.2px;
                margin: 10px 0px;
                padding: 0 5rem;
            }
        }

        // strategy-top section End

        // strategy-bottom section start
        .strategy-bottom {
            margin-top: 3rem;

            ul.bottom-items {
                margin: 0;
                padding-left: 1rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

                li.items-card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 35px 50px;
                    border-radius: 2px;

                    img {
                        width: 44px;
                        height: 44px;
                    }

                    .card-text {
                        padding-left: 22px;

                        h5 {
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 24px;
                            letter-spacing: 0.1px;
                            margin: 5px 0px;
                        }

                        p {
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: 0.2px;
                            margin: 5px 0px;
                        }
                    }
                }
            }
        }

        // strategy-bottom section End
    }

    // strategy section End

    // testimonials section start
    .section-testimonials {
        padding: 55px 50px;

        // testimonials-top section start
        .testimonials-header {
            text-align: center;

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                text-align: center;
                letter-spacing: 0.2px;
                margin: 10px 0px;
                padding: 0 2rem;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.2px;
                margin: 5px 0px;
                padding: 0 2rem;
            }
        }

        // testimonials-top section End

        // testimonials-bottom section start
        .testimonials-cards {
            margin-top: 3.75rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        }

        .testimonials-card {
            padding: 0 10px;

            .card-content {
                background: var(--white);
                border: 1px solid var(--white);
                box-sizing: border-box;
                border-radius: 5px;
                margin: 10px 0px;
                text-align: center;
                padding: 40px 35px;

                img {
                    border-radius: 50%;
                }

                .card-stars {
                    img {
                        border-radius: 0;
                    }
                }

                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    letter-spacing: 0.1px;
                    color: var(--sonic-silver);
                    margin: 15px 0px;
                }

                h3 {
                    color: var(--ebony-clay);
                    font-style: normal;
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    letter-spacing: 0.006rem;
                    margin: 0.3rem 0rem 0.1rem;
                }

                h6 {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    color: var(--sonic-silver);
                }
            }
        }

        // testimonials-bottom section End
    }

    // testimonials section End

    // product section start
    .section-product {
        padding: 55px 50px;

        // product-top section start
        .product-top {
            text-align: center;

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                text-align: center;
                letter-spacing: 0.2px;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.2px;
                margin: 30px 0px;
            }
        }

        // product-top section End

        // product-bottom section start
        .product-bottom {
            margin-top: 3.75rem;

            ul.bottom-items {
                margin: 0;
                padding-left: .1em;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
                grid-row-gap: 1.313rem;
                grid-column-gap: 1.313rem;

                li.items-card {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: #FFFFFF;
                    border: 1.90776px solid #FFFFFF;
                    box-sizing: border-box;
                    border-radius: 9.53881px;
                    margin: 21px 0px;
                    padding: 1rem 2.3rem;

                    i {
                        color: var(--ebony-clay);
                        font-size: 3.2rem;
                    }

                    .card-text {

                        h5 {
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 1rem;
                            line-height: 1.5rem;
                            letter-spacing: 0.013rem;
                            margin: 0.313rem 0rem;
                            color: var(--ebony-clay);
                        }

                        p {
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 0.875rem;
                            line-height: 1.25rem;
                            letter-spacing: 0.013rem;
                            margin: 0.313rem 0rem;
                            color: var(--ebony-clay);
                        }
                    }
                }
            }
        }

        // product-bottom section End
    }

    // product section End

    // pricing section start
    .section-pricing {
        padding: 55px 50px;

        // pricing-top section start
        .pricing-top {
            text-align: center;

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                text-align: center;
                letter-spacing: 0.2px;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.2px;
                margin: 30px 0px;
            }
        }

        // pricing-top section End

        // pricing-bottom section start
        .pricing-bottom {
            margin-top: 3.75rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
            grid-row-gap: 1.313rem;
            grid-column-gap: 1.313rem;

            .bottom-cards {
                padding: 3.125rem;
                background: var(--white);
                border: 1px solid var(--persian-rose);
                box-sizing: border-box;
                border-radius: 0.625rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

                .card-primary {
                    margin-right: 2rem;

                    h3 {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 1.5rem;
                        line-height: 2rem;
                        letter-spacing: 0.006rem;
                        color: var(--persian-rose);
                    }

                    p {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 0.875rem;
                        line-height: 1.5rem;
                        letter-spacing: 0.013rem;
                        color: var(--sonic-silver);
                        margin-top: 10px;
                    }
                }

                .card-second {

                    .second-cost {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding-bottom: 1.875rem;

                        .cost-num {
                            font-family: 'Montserrat', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 2.5rem;
                            line-height: 3.563rem;
                            letter-spacing: 0.013rem;
                            padding-right: 1rem;
                            color: var(--persian-rose);
                        }

                        .cost-info {
                            .info-logo {
                                font-family: 'Montserrat', sans-serif;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 1rem;
                                line-height: 1.5rem;
                                letter-spacing: 0.006rem;
                                color: var(--persian-rose);
                                margin: 0rem;
                            }

                            .info-time {
                                font-family: 'Montserrat', sans-serif;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 24px;
                                letter-spacing: 0.2px;
                                color: var(--Manhattan);
                                margin: 0rem;
                            }
                        }

                    }

                    .second-card-cta {
                        background: var(--persian-rose);
                        color: var(--white);
                        text-decoration: none;
                        padding: .6rem 1.3rem;
                        font-size: 1.4rem;
                        border-radius: 0.313rem;
                        font-weight: bold;
                        display: inline-block;
                    }
                }
            }
        }

        // pricing-bottom section End
    }

    // pricing section End

    // world section start
    .section-world {
        padding: 5em 2em 3em;

        .main-world {
            .world-primary {
                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 2.5rem;
                    line-height: 3.563rem;
                    letter-spacing: 0.013rem;
                    color: var(--white);
                }

                p {
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                    letter-spacing: 0.013rem;
                    color: var(--white);
                    margin: 15px 0;
                }
            }

            .world-secondary {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 3rem;
            }

            .world-secondary img {
                width: 313px;
                height: 169px;
                margin: 14px 0px;

            }
        }
    }

    // world section End

    // appointment section start

    .section-appointment {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--white);
    }

    .appointment-items {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .appointment-bottom {
        display: flex;
        flex-direction: column;

        .card-content {
            h2 {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 57px;
                /* or 142% */
                letter-spacing: 0.2px;
                color: var(--ebony-clay);
                padding: 40px 50px;
            }

            form {
                padding: 0 50px;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                /* identical to box height, or 171% */
                letter-spacing: 0.2px;
                color: var(--ebony-clay);
                box-sizing: border-box;

                .name {
                    height: 30px;
                    width: 311px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 28px;
                    /* identical to box height, or 200% */
                    letter-spacing: 0.2px;
                    color: #737373;
                    margin: 10px 0px;
                }

                .email {
                    height: 30px;
                    width: 311px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 28px;
                    /* identical to box height, or 200% */
                    letter-spacing: 0.2px;
                    color: #737373;
                    margin: 10px 0px;
                }

                .department {
                    height: 30px;
                    width: 320px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 28px;
                    /* identical to box height, or 200% */
                    letter-spacing: 0.2px;
                    color: #737373;
                    box-sizing: border-box;
                    margin: 10px 0px;
                }

                .time {
                    height: 30px;
                    width: 320px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 28px;
                    /* identical to box height, or 200% */
                    letter-spacing: 0.2px;
                    color: #737373;
                    box-sizing: border-box;
                    margin: 10px 0px;
                }

                .submit {
                    padding: 15px 40px;
                    position: static;
                    width: 320px;
                    height: 52px;
                    left: 50px;
                    top: 603px;
                    background: #23A6F0;
                    border-radius: 5px;
                    border-color: #23A6F0;
                    margin: 40px 0px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 22px;
                    /* identical to box height, or 157% */
                    text-align: center;
                    letter-spacing: 0.2px;
                    color: var(--white);
                }
            }

        }
    }
}

// appointment section End


// main section End

// footer section start
footer {
    .section-contact {
        .container {
            .contact-content {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
                padding: 40px 55px;

                // contact-get-in-touch start
                .contact-get-in-touch {
                    h3 {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 32px;
                        /* identical to box height, or 133% */
                        letter-spacing: 0.1px;
                        color: var(--white);
                        margin: 25px 0px;
                    }

                    p {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        /* or 143% */
                        letter-spacing: 0.2px;
                        color: var(--white);
                        margin: 25px 0px;
                    }

                    .touch-social-links {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        img {
                            padding-right: 1rem;
                        }
                    }
                }

                // contact-get-in-touch End

                // contact-company-info start

                .contact-company-info {
                    h3 {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 32px;
                        /* identical to box height, or 133% */
                        letter-spacing: 0.1px;
                        color: var(--white);
                        margin: 25px 0px;
                    }

                    a {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 24px;
                        /* identical to box height, or 171% */
                        letter-spacing: 0.2px;
                        color: var(--white);
                        margin: 10px 0px;
                        text-decoration: none;
                        display: block;
                    }
                }

                // contact-company-info End

                // contact-features start
                .contact-features {
                    h3 {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 32px;
                        /* identical to box height, or 133% */
                        letter-spacing: 0.1px;
                        color: var(--white);
                        margin: 25px 0px;
                    }

                    a {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 24px;
                        /* identical to box height, or 171% */
                        letter-spacing: 0.2px;
                        color: var(--white);
                        margin: 10px 0px;
                        text-decoration: none;
                        display: block;
                    }
                }

                // contact-features End

                // contact-resources start
                .contact-resources {
                    h3 {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 32px;
                        /* identical to box height, or 133% */
                        letter-spacing: 0.1px;
                        color: var(--white);
                        margin: 25px 0px;
                    }

                    a {
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 24px;
                        /* identical to box height, or 171% */
                        letter-spacing: 0.2px;
                        color: var(--white);
                        margin: 10px 0px;
                        text-decoration: none;
                        display: block;
                    }
                }

                // contact-resources End
            }
        }
    }
}

// footer section End

// Credit Section Start 
.credit {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    color: var(--ebony-clay);
    padding: 25px 70.5px;

    a {
        text-decoration: none;
        color: var(--persian-rose);
    }

    h6 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        text-align: center;
        letter-spacing: 0.2px;
        color: var(--ebony-clay);
        margin: 0px 0px;
    }
}

// Credit Section End

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    // width: 0%;
    right: 0;
    top: 0;
    background: #3f516e;
    height: 100vh;
    padding: 1em;

    ul.primary-nav {
        margin-top: 5rem;
    }

    li {

        a {
            color: var(--white);
            text-decoration: none;
            display: block;
            padding: .5em;
            font-size: 1.3rem;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}


.mobile-menu-exit {
    float: right;
    margin: .9em;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {

    // .mobile-menu,
    // .mobile-menu-exit {
    //     display: none;
    // }

    .navbar .container {
        display: grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
        align-items: center;
    }

    .navbar nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
            display: flex;
        }

        a {
            color: var(--white);
            font-size: 1em;
        }

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }

        li.current-cta a {
            color: var(--white);
            border: 3px solid var(--persian-rose);
            background: var(--persian-rose);
            font-weight: bold;
            border-radius: 5px;
            margin-top: .2em;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }

        .secondary-nav {
            display: flex;
            align-items: center;
        }
    }

    .home-left {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .home-left-cta {
        display: flex;
        flex-direction: row !important;
    }

    .home-right {
        position: relative;
        margin-top: 39px;

        .right-blue-buble {
            position: absolute;
            width: 390.5px;
            height: 404.53px;
            left: 205.94px !important;
            top: calc(50% - 404.53px/2 + 3.96px);
            mix-blEnd-mode: normal;
            transform: rotate(-1.13deg);
            z-index: -1;
            padding-left: 15px;

            img {
                width: 390.5px !important;
                height: 404.53px !important;
            }
        }

        .right-light-buble {
            position: absolute;
            width: 390.5px;
            height: 404.53px;
            right: 181px !important;
            top: calc(50% - 404.53px/2 - 1.57px);
            transform: rotate(5.37deg);
            z-index: -1;

            img {
                width: 390.5px !important;
                height: 404.53px !important;
            }
        }

        .right-phone img {
            width: 370px;
            height: 457.98px;
            margin-left: 218.25px !important;
            top: -1px;
        }
    }
}