main {
    font-family: $font-family;

    .demo-14 {
        .demo-top {
            @include flex-center-center;
            background: #ff408f;

            h2 {
                font-size: 18px;
                font-weight: 700;
                color: $color-white;
                padding: 14px 15px;
            }
        }

        .demo-title {
            @include flex-center-center-column;
            padding: 70px 0;
            color: $color-title;

            h2 {
                font-size: 30px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 10px;
                line-height: 1.1;
            }
        }

        .demo-14_main {

            .demo-14_item {
                position: relative;
                overflow: hidden;
                margin: 40px 30px;
                padding: 0 0 60px;
                transition: all .4s ease;
                text-align: center;
                background: #ff408f;
                z-index: 0;

                i {
                    width: 110px;
                    line-height: 110px;
                    margin: 20px 0;
                    font-size: 42px;
                    color: $color-white;
                    border-radius: 100%;
                    background: #fd6faa;
                    box-shadow: 0 0 0 10px rgba(255, 255, 255, .12);
                }

                h2 {
                    font: {
                        size: 30px;
                        weight: 700;
                        family: $font-family;
                    }

                    position: relative;
                    z-index: 1;
                    margin-top: 0;
                    margin-bottom: 18px;
                    padding: 20px;
                    color: #ff408f;
                    background: $color-white;
                }

                p {
                    margin: 0 0 10px;
                    padding: 20px 20px 17px;
                    text-align: left;
                    color: $color-white;
                    text-align: left;
                    line-height: 1.1;
                }

                a {
                    margin: 20px 20px 20px;
                    padding: 14px 35px;
                    color: $color-white;
                    border-radius: 0;
                    background: #fd6faa;
                    text-decoration: none;
                }

                &:hover {

                    animation: flipZoomOut 1s forwards 1;

                    @keyframes flipZoomOut {

                        0%,
                        100% {
                            transform: scale(1, 1)
                        }

                        20% {
                            transform: scale(.8, .8)
                        }
                    }

                    i {
                        animation: ripple 1s infinite
                    }

                    @keyframes ripple {

                        0%,
                        80% {
                            box-shadow: 0 0 0 10px rgba(255, 255, 255, .5)
                        }

                        100%,
                        40% {
                            box-shadow: 0 0 0 15px rgba(255, 255, 255, .4)
                        }
                    }
                }
            }

            .demo-14_item::after {
                position: absolute;
                z-index: -1;
                right: 0;
                left: 0;
                content: '';
                bottom: -75px;
                height: 90px;
                transform: skewY(5deg);
                background: $color-white;
            }

            .demo-14_item h2::before {
                position: absolute;
                height: 90px;
                transform: skewY(5deg);
                background: $color-white;
                content: '';
                top: 0;
                right: 0;
                left: 0;
                z-index: -1;
            }
        }
    }
}