main {
    font-family: $font-family;

    .demo-08 {
        background: $color-wall;
        transition: all .4s ease;

        .demo-top {
            @include flex-center-center;
            background: $color-red;

            h2 {
                font-size: 18px;
                font-weight: 700;
                color: $color-white;
                padding: 13px 15px;
            }
        }

        .demo-title {
            @include flex-center-center-column;
            padding: 70px 0;
            color: $color-title;

            h2 {
                font-size: 30px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 10px;
                line-height: 1.1;
            }
        }

        .demo-08_main {

            .demo-08_item {
                position: relative;
                overflow: hidden;
                margin: 40px 20px;
                padding: 20px;
                transition: all .4s ease;
                text-align: center;
                background: $color-white;
                transition-duration: 0.5s;

                i {
                    font-size: 52px;
                    color: $color-red;
                    width: 130px;
                    line-height: 130px;
                    text-align: center;
                    margin: 20px;
                    color: $color-red;
                    border: 1px solid $color-jordyborder;
                    border-radius: 100%;
                    box-shadow: 5px 5px 3px #ddd;
                    transition: all .4s ease;
                }

                h2 {
                    margin: 0 -10px 15px;
                    padding: 10px 0;
                    font-family: 'Droid Sans', sans-serif;
                    font-weight: 700;
                    font-size: 30px;
                    background: $color-wall;
                    transition: all .4s ease;
                }

                p {
                    padding: 0 17px 17px;
                    color: $color-shadow;
                    margin: 0 0 10px;
                }

                a {
                    margin: 10px 0 20px;
                    padding: 14px 35px;
                    color: $color-white;
                    border-radius: 0;
                    background: $color-red;
                    display: inline-block;
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    text-decoration: none;
                    border-radius: 1rem;
                    transition: all .4s ease;

                    &:hover {
                        background: darken($color: $color-red, $amount: 20%);
                        transition: all .4s ease;
                    }
                }

                &:hover {

                    h2 {
                        box-shadow: inset -410px 0 0 0 $color-red;
                        transition: all .4s ease;
                        color: $color-white;
                    }

                    i {
                        box-shadow: -5px 7px 3px $color-jordyborder;
                        transition: all .4s ease;
                    }
                }
            }
        }
    }
}