main {
    font-family: $font-family;

    .demo-11 {
        .demo-top {
            @include flex-center-center;
            background: $color-frostbite;

            h2 {
                font-size: 18px;
                font-weight: 700;
                color: $color-white;
                padding: 13px 15px;
            }
        }

        .demo-title {
            @include flex-center-center-column;
            padding: 70px 0;
            color: $color-title;

            h2 {
                font-size: 30px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 10px;
                line-height: 1.1;
            }
        }

        .demo-11_main {

            .demo-11_item {
                margin: 75px 15px 25px;
                padding: 10px 0px 70px;
                transition: all .4s ease;
                text-align: center;
                border: 1px solid $color-frostbite;
                border-radius: 100%;
                background: $color-white;

                i {
                    width: 130px;
                    margin: -90px 20px 20px;
                    background-color: $color-frostbite;
                    border: 1px solid $color-white;
                    border-radius: 100%;
                    color: $color-white;
                    font-size: 52px;
                    transition: all .4s ease;
                    line-height: 120px;
                    height: 130px;
                    transition: all .4s ease;
                }

                h2 {
                    margin-top: 0;
                    margin-bottom: 15px;
                    padding: 13px 0;
                    font-family: 'Droid Sans', sans-serif;
                    font-weight: 700;
                    transition: all .4s ease;
                    font-size: 30px;
                }

                p {
                    padding: 0 17px 17px;
                    color: $color-shadow;
                    margin: 0 0 10px;
                }

                a {
                    margin: 10px 0 20px;
                    padding: 14px 35px;
                    color: $color-white;
                    border-radius: 3rem;
                    background: $color-frostbite;
                    display: inline-block;
                    margin-bottom: 0;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.42857143;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;
                    text-decoration: none;
                    transition: all .4s ease;

                    &:hover {
                        background: darken($color: $color-frostbite, $amount: 10%);
                        transition: all .4s ease;
                    }
                }

                &:hover {

                    background: $color-frostbite;

                    i {
                        color: $color-frostbite;
                        background-color: $color-white;
                        transition: all .4s ease;
                    }

                    h2 {
                        color: $color-white;
                    }
    
                    p {
                        color: $color-white;
                    }

                    a {
                        background: darken($color: $color-frostbite, $amount: 10%);
                    }
                }
            }
        }
    }
}