main {
    .demo-18 {
        .demo-top {
            @include flex-center-center;
            background: darken($color: $color-newsletter, $amount: 20%);

            h2 {
                font: {
                    size: 18px;
                    weight: 700;
                    family: $font-family;
                }

                color: $color-white;
                padding: 13px 18px;
            }
        }

        .demo-title {
            @include flex-center-center-column;
            padding: 70px 0;
            color: $color-title;

            h2 {
                font: {
                    size: 30px;
                    weight: 700;
                    family: $font-family;
                }

                margin-top: 20px;
                margin-bottom: 10px;
                line-height: 1.1;
            }
        }

        .demo-18_main {

            .demo-18_item {
                position: relative;
                overflow: hidden;
                margin: 40px 20px;
                transition: all .4s ease;
                text-align: center;
                background: $color-fueshoes;

                img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }

                .data {
                    position: absolute;
                    bottom: 20px;
                    z-index: 1;
                    color: $color-white;
                    width: 100%;
                    padding-right: 20px;

                    h2 {
                        font: {
                            size: 25px;
                            weight: 700;
                            family: $font-family;
                        }

                        margin-bottom: 20px;
                        padding: 13px 0;
                        text-align: center;
                    }

                    a,
                    p {
                        display: none;
                    }

                    a {
                        padding: 10px 20px;
                        color: $color-white;
                        width: 140px;
                        margin: 20px auto auto;
                        background: linear-gradient(to bottom, transparent 50%, $color-white 50%);
                        background-size: 100% 200%;
                        background-position: top;
                        transition: all .2s ease;
                        border: 2px solid;
                        border-radius: 40px;
                        text-decoration: none;

                        &:hover {
                            background-position: bottom;
                            color: $color-black;
                            border-color: $color-white;
                        }
                    }
                }

                &:hover::after {
                    transform: translateY(0);
                }

                &:hover::before {
                    transform: translateY(-100%);
                }

                &:hover {

                    .data a,
                    p {
                        display: block
                    }

                    .data {
                        animation: fadeInUp .4s 1 forwards;
                    }

                    @keyframes fadeInUp {
                        0% {
                            opacity: 0;
                            transform: translateY(100%)
                        }

                        100% {
                            opacity: 1;
                            transform: translateY(0)
                        }
                    }
                }
            }

            .demo-18_item:after,
            .demo-18_item:before {
                content: '';
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: all .4s ease;
                z-index: 0;
            }

            .demo-18_item::before {
                position: absolute;
                background: rgba(66, 65, 16, .44);
                transform: translateY(0);
            }

            .demo-18_item:after {
                position: absolute;
                background: rgba(66, 65, 16, .66);
                transform: translateY(100%);
            }
        }
    }
}